<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card card-orange">
      <div class="card-header">
        <h3 class="card-title" *ngIf="sModuloChiamante ==='MOD_GEST_RICHIESTE'"><strong>Gestione Richieste: {{ titoloPagina }}</strong></h3>
        <h3 class="card-title" *ngIf="sModuloChiamante !=='MOD_GEST_RICHIESTE'"><strong>{{ titoloPagina }}</strong></h3>
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="loaderSearch">
          <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
        </div>
        <div [ngClass]="{'row collapse': visualizzaSelectRow,
                         'row': !visualizzaSelectRow}">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-grid *ngIf="!loaderSearch" [gridColObj]="gridConfig.colonne"
                                            [gridRecordObj]="gridConfig.record"
                                            [nColonneInput]="gridConfig.nColonneInput"
                                            [abilitaDettaglio]="gridConfig.abilitaDettaglio"
                                            [abilitaSelectAll]="gridConfig.abilitaSelectAll"
                                            [filtriCustom]="gridConfig.customFilter"
                                            [abilitaClick]="gridConfig.abilitaClick"
                                            [abilitaExport]="gridConfig.abilitaExport"
                                            [nomeSheet]="gridConfig.nomeSheet"
                                            (outRecordSelezionato)="getRecordSelezionato($event)"
                                            (outFocus)="focusOut($event)"
                                            (outReload)="reloadOut($event)"
                                            ></app-grid>
          </div>
        </div> 
          
          
        <div class="row" *ngIf="visualizzaSelectRow" >
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card card-orange">
              <div class="card-header">
                <h3 class="card-title"><strong>{{ titoloPagina }} : {{ rowSelected.ID }}</strong></h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove" (click)="closeRecordSelezionato()" ><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-center" *ngIf="loaderOnSelectRow">
                  <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
                </div>
                
                <div class="row"  *ngIf="!loaderOnSelectRow">
                  <div class="col-sm-4 col-md-4 col-lg-4">
             
                    <div class="card card-orange">
                      <div class="card-header">
                        <h3 class="card-title">
                          <i class="fas fa-info"></i>
                          Dettaglio
                        </h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                                                
                        <!-- <pre>{{rowSelected | json}}</pre> -->
               
                        <dl class="row small">
                          <ng-container *ngFor="let item of aCfgColonne">
                            <dt *ngIf="rowSelected[item.NOME_COLONNA]" class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">{{infoElement[item.NOME_COLONNA].ETICHETTA}}:</dt>
                            <dd *ngIf="rowSelected[item.NOME_COLONNA]" class="col-sm-6 valore-dettaglio-materiale">{{rowSelected[item.NOME_COLONNA]}}</dd>
                          </ng-container>
                        </dl>         

                      </div>
                      <!-- /.card-body -->
                    </div>                    
                    
                  </div>
                  <div class="col-sm-8 col-md-8 col-lg-8">
                    
                     <!-- AZIONI POSSIBILI -->
                    
                    <div class="card card-orange" *ngIf="!apriAzioneSelezionata">
                      <div class="card-header">
                        <h3 class="card-title">
                          <i class="fas fa-share-alt"></i>
                          Azioni Possibili
                        </h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                                                
                        <!--<pre>{{listaAzioniPossibili | json}}</pre>-->
                        
                        <div class="row">
                          <ng-container *ngFor="let itemAzione of listaAzioniPossibili">
                            <div class="col-md-4" *ngIf="itemAzione.nome !=='MSG_CUSTOM' && itemAzione.visible">
                              <button id="btn-action-{{itemAzione.nome}}"
                                      name="btn-action-{{itemAzione.nome}}"
                                      type="button"
                                      class="btn btn-info btn-block btn-sm"
                                      (click)="clickOpenAzione(itemAzione)"
                                      >{{itemAzione.etichetta}} <i [class]="itemAzione.icona"></i>
                              </button>
                            </div>
                            <div class="col-md-12" *ngIf="itemAzione.nome ==='MSG_CUSTOM'">
                              
                              <div class="alert alert-warning alert-dismissible">
                                <h5><i class="icon fas fa-exclamation-triangle"></i> Attenzione!</h5>
                                {{itemAzione.etichetta}}
                              </div>                              
                              
                              
                              
                            </div>
                          </ng-container>  
                        </div>
 
                      </div>
                      <!-- /.card-body -->
                    </div>
                    
                    <!-- AZIONE SELEZIONATA -->
                    
                    <div class="card card-orange" *ngIf="apriAzioneSelezionata">
                      <div class="card-header">
                        <h3 class="card-title">
                          Azione Selezionata: <strong>{{azioneSelezionataObj.etichetta}}</strong> <i style="padding-left: 3px" [class]="azioneSelezionataObj.icona"></i>
                        </h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool"
                                  data-card-widget="remove"
                                  (click)="clickCloseAzione()"
                                  ><i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      
                      <!-- azioni su MOD_GEST_RICHIESTE => RMA WIND -->
                      <ng-container *ngIf="sModuloChiamante ==='MOD_GEST_RICHIESTE' && sTipoRichiesta ==='RMA WIND'">
                        
                        <app-azione-rifiutato *ngIf="azioneSelezionataObj.nome === 'RIFIUTATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-rifiutato>
                        
                        <app-azione-approvato *ngIf="azioneSelezionataObj.nome === 'APPROVATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-approvato>
                        
                        <app-azione-annullamento-attesa-materiale *ngIf="azioneSelezionataObj.nome === 'ANNULLAMENTO_ATTESA_MATERIALE'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"                  
                                                ></app-azione-annullamento-attesa-materiale> 
                        
                        <app-azione-cambio-priorita *ngIf="azioneSelezionataObj.nome === 'CAMBIO_PRIORITA'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-cambio-priorita>
                        
                        <app-azione-apri-ripin *ngIf="azioneSelezionataObj.nome === 'APRI_RIPIN'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-apri-ripin>
                        
                        <app-azione-materiale-utilizzato *ngIf="azioneSelezionataObj.nome === 'MATERIALE_UTILIZZATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-materiale-utilizzato>
                        
                        <app-azione-rientro-a-magazzino *ngIf="azioneSelezionataObj.nome === 'RIENTRO_A_MAGAZZINO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-rientro-a-magazzino>
  
                        <app-azione-rifiuto-materiale-accettato *ngIf="azioneSelezionataObj.nome === 'RIFIUTO_MATERIALE_ACCETTATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-rifiuto-materiale-accettato>
                        
                        <app-azione-annullamento-prenotazione *ngIf="azioneSelezionataObj.nome === 'ANNULLAMENTO_PRENOTAZIONE'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"              
                                                ></app-azione-annullamento-prenotazione> 
  
                        <app-azione-materiale-su-mobile *ngIf="azioneSelezionataObj.nome === 'MATERIALE_SU_MOBILE'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"        
                                                ></app-azione-materiale-su-mobile>
                        
                      </ng-container> <!-- azioni su MOD_GEST_RICHIESTE => RMA WIND - FINE -->
                      
                      <!-- azioni su MOD_GEST_RICHIESTE => RESO -->
                      <ng-container *ngIf="sModuloChiamante ==='MOD_GEST_RICHIESTE' && sTipoRichiesta ==='RESO'">
                        
                        <app-azione-annullamento-reso *ngIf="azioneSelezionataObj.nome === 'ANNULLAMENTO_RESO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-annullamento-reso>

                        <app-azione-conferma-sospensione *ngIf="azioneSelezionataObj.nome === 'CONFERMA_SOSPENSIONE'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-conferma-sospensione>
                        
                        <app-azione-sospeso *ngIf="azioneSelezionataObj.nome === 'SOSPESO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-sospeso>

                        <app-azione-annullamento-sospensione *ngIf="azioneSelezionataObj.nome === 'ANNULLAMENTO_SOSPENSIONE'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-annullamento-sospensione>                        
                        
                        
                        
                      </ng-container> <!-- azioni su MOD_GEST_RICHIESTE => RESO - FINE -->
                      
                      <!-- azioni su MOD_GEST_RICHIESTE => LOGISTICA WIND -->
                      <ng-container *ngIf="sModuloChiamante ==='MOD_GEST_RICHIESTE' && sTipoRichiesta ==='LOGISTICA WIND'">
                        
                        <app-azione-approvato-logistica-wind *ngIf="azioneSelezionataObj.nome === 'APPROVATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-approvato-logistica-wind>
                        
                        <app-azione-annullata-logistica-wind *ngIf="azioneSelezionataObj.nome === 'ANNULLATA'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-annullata-logistica-wind>
                        
                        <app-azione-materiale-rifiutato-logistica-wind *ngIf="azioneSelezionataObj.nome === 'MATERIALE_RIFIUTATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-materiale-rifiutato-logistica-wind>
                        
                        <app-azione-consegna-accettata-logistica-wind *ngIf="azioneSelezionataObj.nome === 'CONSEGNA_ACCETTATA'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-consegna-accettata-logistica-wind>
                        
                      </ng-container> <!-- azioni su MOD_GEST_RICHIESTE => LOGISTICA WIND - FINE -->
                      
                      <!-- azioni su MOD_APPROVAZIONE_HQ => APPROVAZIONE HQ -->
                      <ng-container *ngIf="sModuloChiamante ==='MOD_APPROVAZIONE_HQ' && sTipoRichiesta ==='APPROVAZIONE HQ'">
                        
                        
                         <app-azione-rifiutato *ngIf="azioneSelezionataObj.nome === 'RIFIUTATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-rifiutato>
                        
                        <app-azione-approvato *ngIf="azioneSelezionataObj.nome === 'APPROVATO'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-approvato>                       
                        
                        
                      </ng-container> <!-- azioni su MOD_APPROVAZIONE_HQ => APPROVAZIONE HQ - FINE -->
                      
                      
                      <!-- azioni su MOD_NUOVA_RICHIESTA => RESO -->
                      <ng-container *ngIf="sModuloChiamante ==='MOD_NUOVA_RICHIESTA' && sTipoRichiesta ==='RESO'">
                        
                 
                        <app-azione-apri-ripin *ngIf="azioneSelezionataObj.nome === 'APERTURA'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-apri-ripin>                       
                        
                      </ng-container> <!-- azioni su MOD_NUOVA_RICHIESTA => RESO - FINE -->
                      
                      <!-- azioni su MOD_NUOVA_RICHIESTA => RIPIN -->
                      <ng-container *ngIf="sModuloChiamante ==='MOD_NUOVA_RICHIESTA' && sTipoRichiesta ==='RIPIN'">
                        
                 
                        <app-azione-apri-ripin *ngIf="azioneSelezionataObj.nome === 'APERTURA'"
                                                [datiAzioneObj]="azioneSelezionataObj"
                                                (outReload)="azioneEseguita($event)"
                                                ></app-azione-apri-ripin>                        
                        
                      </ng-container> <!-- azioni su MOD_NUOVA_RICHIESTA => RIPIN - FINE -->
                      
                    </div> 
                    
                  </div>  
                </div>
                
              </div>
              <div class="card-footer">
                
              </div>
            </div>
          </div>
        </div>          
        
      </div>
    </div>
  </div>
</div>

