  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-3 {{ getCssStyleColorSideBar() }}">
    <!-- Brand Logo -->
    
    
    <a *ngIf="!getMostraLogoCustomSideBar()" href="#" class="brand-link {{ getCssStyleLogoSideBar() }} ">
      <span class="brand-text font-weight-dark" style="color: white">{{ getNomeAppSideBar() }}</span>
      <img src="{{ getLogoImageSirtiSideBar() }}" alt="" class="brand-image">
      
    </a>
    
    <a *ngIf="getMostraLogoCustomSideBar()" href="#" class="brand-link {{ getCssStyleLogoSideBar() }} sidebar-text-logo-white-custom">
        
        <div style="float: left">
          <img src="{{ getLogoImageSirtiSideBar() }}" class="brand-image sidebar-logo-sirti-custom">
        </div>
        <div class="sidebar-logo-cliente-custom">
          <span class="sidebar-text1-logo-custom">{{ getNomeAppSideBar() }}
          
            <img src="{{ getLogoImageClienteSideBar() }}" style="height: 23px;">
          
          </span>
          <hr class="sidebar-hr-logo-custom " />
          <span class="sidebar-text2-logo-custom">Single Point of Management</span>
        </div>
    
    </a> 


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!--
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/adminLte/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>
      -->

      <app-nav-menu [navMenuCfg]="sideBarMenuCfg"></app-nav-menu>
       
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
