  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; {{ getAnnoCopyright() }} <a href="{{ getLinkTitle() }}">{{ getRagioneSociale() }}</a></strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> {{ getVersion() }}
    </div>
  </footer>