<div class="row" *ngIf="livelloPassato==livelloAttuale">
  <ng-container *ngTemplateOutlet="recursiveList2; context:{ $implicit: navTileMenuCfg }"></ng-container>
</div>

<ng-template #recursiveList2 let-navMenuCfg>
  
  <ng-container *ngFor="let itemChild of navMenuCfg">
    
    
    <div *ngIf="((itemChild.visible)&&(itemChild.livello==livelloPassato))" class="col-md-4">
      <div *ngIf="((itemChild.visible)&&(itemChild.livello==livelloPassato))"  class="small-box" [ngClass]="itemChild.colorTile" style="background-color:{{itemChild.color}} !important">
            <div class="inner" style="height: 100px;color: black">
              <h5>{{ itemChild.titolo }}</h5>
              <p *ngIf="livelloAttuale === 'gestioneRichieste' && statistics && statistics[itemChild.titolo]"><i class="fas fa-user-tag"></i> : {{statistics[itemChild.titolo]}}</p>
              <p *ngIf="livelloAttuale === 'gestioneRichieste' && statistics && !statistics[itemChild.titolo]"><i class="fas fa-user-tag"></i> : <i class="fas fa-sync-alt fa-spin"></i></p>

              <span style="white-space: break-spaces;">{{ itemChild.descrizione }}</span>
            </div>
            <div class="icon" style="">
              <i [ngClass]="itemChild.icon"></i>
            </div>
            <a *ngIf="!itemChild.isDocument && !itemChild.isDownload" routerLink="{{itemChild.routerLink}}" class="small-box-footer" style="color: black !important">More info <i class="fas fa-arrow-circle-right"></i></a>
            <a *ngIf="itemChild.isDocument && !itemChild.isDownload" href="{{itemChild.routerLink}}" placement="top" target="_blank" class="small-box-footer" style="color: black !important">More info <i class="fas fa-arrow-circle-right"></i></a>
            <a *ngIf="itemChild.isDocument && itemChild.isDownload" [download]="itemChild.nomeFile" [href]="itemChild.routerLink" placement="top" target="_blank" class="small-box-footer" style="color: black !important">More info <i class="fas fa-arrow-circle-right"></i></a>
   
      </div>
    </div> 
    

    <ng-container *ngIf="((itemChild.visible) && ((itemChild.isParent) && (itemChild.children) && (itemChild.children.length > 0)))">
      <ng-container *ngTemplateOutlet="recursiveList2; context:{ $implicit: itemChild.children }"></ng-container>
    </ng-container> 
    
  </ng-container>
  
 
  
</ng-template>
