<!--
<pre>{{datiAzioneObj | json}}</pre>
-->

<form role="form" [formGroup]="reactiveFormAzMaterialeSuMobile" (ngSubmit)="eseguiAzione()">
  <div class="card-body">

    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>    
    
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
      <!-- Input Id Sirti -->
      <div class="form-group">
        <label  for="inputIdSirti">Id Sirti *: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputIdSirti"
                  name="inputIdSirti"
                  formControlName="nIdSirtiCheck"
                  autocomplete="off"
                  [readonly]="true"
                  [ngClass]="{'is-valid': reactiveFormAzMaterialeSuMobile.controls.nIdSirtiCheck.valid,
                              'is-invalid': reactiveFormAzMaterialeSuMobile.controls.nIdSirtiCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzMaterialeSuMobile.controls.nIdSirtiCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div>
        
      <!-- Input Serial Number -->
      <div class="form-group">
        <label  for="inputSerialNumber">Serial Number *: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-barcode"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputSerialNumber"
                  name="inputSerialNumber"
                  formControlName="sSerialNumberCheck"
                  autocomplete="off"
                  [readonly]="true"
                  [ngClass]="{'is-valid': reactiveFormAzMaterialeSuMobile.controls.sSerialNumberCheck.valid,
                              'is-invalid': reactiveFormAzMaterialeSuMobile.controls.sSerialNumberCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzMaterialeSuMobile.controls.sSerialNumberCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div>      
    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div>      
  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzMaterialeSuMobile.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  


