::ng-deep ngb-typeahead-window.dropdown-menu {
    width: calc(100% - 35px);
    overflow-y: scroll;
    max-height: 250px;
}

.elementiThClass {
  white-space: break-spaces;
  word-break: normal;
}

.elementiThBoldClass {
  white-space: break-spaces;
  font-weight: bold;
  word-break: normal;
}

.infoBoxThClass {
  min-height: 90px !important;
  margin-bottom: 0px !important;
}

.templateThInfoBoxClass {
  margin-bottom: 0px !important;
}

.infoBoxIconThClass {
  top:10px !important;
}

.calloutMsgEsitoRicercaMatClass {
  text-align: center;
}

.calloutMsgQuotaMaxRmaClass {
  text-align: center;
  font-size: 25px;
}