<!--<pre>{{datiAzioneObj.presidioMagazWind | json}}</pre>-->
<!--<pre>{{datiAzioneObj.orario | json}}</pre-->

<form role="form" [formGroup]="reactiveFormAzApriRipin" (ngSubmit)="eseguiAzione()">
  <div class="card-body">
    
    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>    
    
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">    
    
      <!-- Input Magazzino -->
      <div class="form-group">
        <label  for="inputMagazzinoDestinazione">Magazzino: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-warehouse"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputMagazzinoDestinazione"
                  name="inputMagazzinoDestinazione"
                  formControlName="sMagazzinoDestinazioneCheck"
                  autocomplete="off"
                  [readonly]="true"
                  [ngClass]="{'is-valid': reactiveFormAzApriRipin.controls.sMagazzinoDestinazioneCheck.valid,
                              'is-invalid': reactiveFormAzApriRipin.controls.sMagazzinoDestinazioneCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzApriRipin.controls.sMagazzinoDestinazioneCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div>
    
      <!-- Input Nodo Provenienza -->
      <div class="form-group">
        <label  for="inputNodoProvenienza">Nodo Provenienza: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-share-alt"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputNodoProvenienza"
                  name="inputNodoProvenienza"
                  formControlName="sNodoProvenienzaCheck"
                  autocomplete="off"
                  [ngClass]="{'is-valid': reactiveFormAzApriRipin.controls.sNodoProvenienzaCheck.valid,
                              'is-invalid': reactiveFormAzApriRipin.controls.sNodoProvenienzaCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzApriRipin.controls.sNodoProvenienzaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div>
      
      <!-- Input Descrizione Guasto -->
      <div class="form-group" *ngIf="datiAzioneObj.tipo === 'RIPIN'">
        <label  for="inputDescGuasto">Descrizione Guasto: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-tools"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputDescGuasto"
                  name="inputDescGuasto"
                  formControlName="sDescGuastoCheck"
                  autocomplete="off"
                  [ngClass]="{'is-valid': reactiveFormAzApriRipin.controls.sDescGuastoCheck.valid,
                              'is-invalid': reactiveFormAzApriRipin.controls.sDescGuastoCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzApriRipin.controls.sDescGuastoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div>
      
      <div class="form-group" *ngIf="datiAzioneObj.nome === 'APERTURA'">
            
        <!-- Input Part Number -->
        
        <label  for="inputPartNumber">Part Number: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-archive"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputPartNumber"
                  name="inputPartNumber"
                  formControlName="sPartNumberCheck"
                  autocomplete="off"
                  [readonly]="true"
                  [ngClass]="{'is-valid': reactiveFormAzApriRipin.controls.sPartNumberCheck.valid,
                              'is-invalid': reactiveFormAzApriRipin.controls.sPartNumberCheck.invalid}"
                  >
          <span class="input-group-append">
            <button placement="top-right"
                    ngbTooltip="Cerca Compatibile / Equivalente"
                    type="button"
                    class="btn btn-info btn-flat"
                    (click)="apriChiudiCercaCompatibiliEq($event)"
                    [disabled] ="aCompatibiliEqTrovati.length < 1"
                    ><i class="fas fa-book"></i></button>
          </span> 
        </div>
        <span *ngIf="reactiveFormAzApriRipin.controls.sMagazzinoDestinazioneCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div> 
          
        
      <div class="form-group" *ngIf="datiAzioneObj.nome === 'APERTURA' && mostraCercaCompatibiliEq">
        
        
        <!-- template materiale TH -->
        <ng-template #rMaterialeTemplate let-r="result" let-t="term">
          <div class="row templateThInfoBoxClass">
            <div class="info-box bg-white infoBoxThClass col-md-12 col-sm-12 col-lg-12">
              <div class="info-box-content">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                    <strong>PART NUMBER</strong> : <ngb-highlight [result]="r.PART_NUMBER" [term]="t"></ngb-highlight>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                    <strong>SAP CODE</strong> : <ngb-highlight [result]="r.SAP_CODE" [term]="t"></ngb-highlight>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                    <strong>DESC</strong> : <ngb-highlight [result]="r.NOME_PART_NUMBER" [term]="t"></ngb-highlight>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                    <strong>ID CATALOGO</strong> : <ngb-highlight [result]="r.ID_CATALOGO" [term]="t"></ngb-highlight>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                    <strong>DOMAIN_AS_PER_BOQ</strong> : <ngb-highlight [result]="r.DOMAIN_AS_PER_BOQ" [term]="t"></ngb-highlight>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                    <strong>DOMINIO_TECNOLOGICO</strong> : <ngb-highlight [result]="r.DOMINIO_TECNOLOGICO" [term]="t"></ngb-highlight>
                  </div>
                </div>
              </div>
              <span class="info-box-icon">
                <!--<span>{{ r.ID_MAG_SIRTI }}</span> -->
                <i *ngIf="r.CLASSIFICATION !== 'CONSUMABLES'" class="fas fa-barcode infoBoxIconThClass"></i>
                <i *ngIf="r.CLASSIFICATION === 'CONSUMABLES'" class="fas fa-tags infoBoxIconThClass"></i>
              </span>
        
            </div>
          </div>
        </ng-template>        
        
        
        <label   for="inputCompatibiliEq">Sostituisci con il Part Number (Compatibile / Equivalente): </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i *ngIf="!loaderAutocompleteCompatibiliEq" class="fas fa-exchange-alt"></i>
              <i class="fas fa-sync-alt fa-spin" *ngIf="loaderAutocompleteCompatibiliEq"></i>
            </span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputCompatibiliEq"
                  name="inputCompatibiliEq"
                  autocomplete="off"
                  placeholder="Seleziona Part Number..."
                  formControlName="sCompatibiliEqCheck"
                  [ngbTypeahead]="searchCompatibiliEq"
                  [inputFormatter]="formatterCompatibiliEq"
                  [resultTemplate]="rMaterialeTemplate"
                  (selectItem)="selectedItemCompatibiliEq($event)"
                  [readonly]="false"
                  [editable]="false"
                  [ngClass]="{'is-valid': reactiveFormAzApriRipin.controls.sCompatibiliEqCheck.valid,
                              'is-invalid': reactiveFormAzApriRipin.controls.sCompatibiliEqCheck.invalid}"
                >
          <span class="input-group-append">
            <button placement="top-right"
                    ngbTooltip="Annulla"
                    type="button"
                    class="btn btn-danger btn-flat"
                    (click)="apriChiudiCercaCompatibiliEq($event)"
                    ><i class="fas fa-times"></i></button>
          </span> 
        </div>
        <span *ngIf="zeroResultCompatibiliEq" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Nessun Valore Trovato</span>
      </div>
      
      <!-- Input Stato Materiale - datiAzioneObj.materiale.SERIAL_NUMBER -->
      <div class="form-group" *ngIf="datiAzioneObj.tipo === 'RESO'">
        <label  for="inputStatoMateriale">Stato Materiale *: </label>
        <div class="input-group input-group-sm">
          <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="sStatoMaterialeCheck">
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" [value]="'GUASTO'">
                <i *ngIf="reactiveFormAzApriRipin.value.sStatoMaterialeCheck === 'FUNZIONANTE'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzApriRipin.value.sStatoMaterialeCheck === 'GUASTO'" class="fas fa-check-square"></i>
              GUASTO
            </label>
            <label ngbButtonLabel class="btn-success">
              <input ngbButton type="radio" [value]="'FUNZIONANTE'">
                <i *ngIf="reactiveFormAzApriRipin.value.sStatoMaterialeCheck === 'GUASTO'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzApriRipin.value.sStatoMaterialeCheck === 'FUNZIONANTE'" class="fas fa-check-square"></i>
              FUNZIONANTE
            </label>
          </div>
        </div>
      </div>

      <!-- Input Descrizione Guasto - datiAzioneObj.materiale.SERIAL_NUMBER -->
      <div class="form-group" *ngIf="datiAzioneObj.tipo === 'RESO' && reactiveFormAzApriRipin.value.sStatoMaterialeCheck === 'GUASTO'">
        <label  for="inputDescGuasto">Descrizione Guasto *:
        </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-list"></i></span>
          </div>
          <select 
                  class="form-control form-control-sm"
                  id="inputDescGuasto"
                  name="inputDescGuasto"
                  autocomplete="off"
                  formControlName="sDescGuastoCheck"
                  (change)="changeDescGuastoValue($event)"
                  [ngClass]="{'is-valid': reactiveFormAzApriRipin.controls.sDescGuastoCheck.valid,
                              'is-invalid': reactiveFormAzApriRipin.controls.sDescGuastoCheck.invalid}"
                  >
            <option value="">Seleziona...</option>
            <option *ngFor="let vOptionValueDescGuasto of aOptionDescGuasto" (value)="vOptionValueDescGuasto.ERROR_CODE">{{vOptionValueDescGuasto.DESCRIZIONE}}</option>
          </select>                         
          
        </div>
        
        <span *ngIf="reactiveFormAzApriRipin.controls.sDescGuastoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
      </div>
    
      <div class="row">
        <!-- Input Data Ritiro Appuntamento  -->
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <label  for="inputDataRitiroAppuntamento">Data Ritiro Appuntamento: </label>
          <div class="input-group input-group-sm" style="padding-top: 2px;">
        
            
            <input class="form-control" placeholder="DD/MM/YYYY"
                  id="inputDataRitiroAppuntamento"
                  name="inputDataRitiroAppuntamento"
                  formControlName="sDataRitiroAppuntamentoCheck"
                  ngbDatepicker
                  (dateSelect)="onDateSelect($event)"
                  [readonly]="true"
                  [minDate]="minDate"
                  [markDisabled]="markDisabled"
                  #sDataRitiroAppuntamento="ngbDatepicker"
                  >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="sDataRitiroAppuntamento.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i> 
              </button>
            </div>
            
        
            
            
          </div>
          
          <!--<pre>{{reactiveFormAzApriRipin.value.sDataRitiroAppuntamentoCheck | json}}</pre>-->
          
          <span *ngIf="reactiveFormAzApriRipin.controls.sDataRitiroAppuntamentoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
        
        
        </div>
        
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <div class="input-group input-group-sm">
            <ngb-timepicker 
                            id="inputOraRitiroAppuntamento"
                            name="inputOraRitiroAppuntamento"
                            formControlName="sOraRitiroAppuntamentoCheck"
                            size="small"
            ></ngb-timepicker>
          
          </div>
          <span *ngIf="reactiveFormAzApriRipin.controls.sOraRitiroAppuntamentoCheck.errors && reactiveFormAzApriRipin.controls.sOraRitiroAppuntamentoCheck.errors.errorMinMax" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> La data selezionata deve essere compresta tra le ore {{datiAzioneObj.orario.min}} e le ore {{datiAzioneObj.orario.max}}</span>
        </div>      
      </div>
    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div>  
      
  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzApriRipin.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  
