<!--
<p>grid works!</p>

colonne:
<pre>{{gridColObj | json}}</pre>

Record:
<pre>{{gridRecordObj | json}}</pre>

-->

<!--
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Cerca..." #input>
</mat-form-field>

-->

<div *ngIf="mostraDettaglio" class="example-container mat-elevation-z4">
  <table  mat-table [dataSource]="dataSource"  class="table table-bordered table-striped table-hover" matSort multiTemplateDataRows>
    
    <!-- Checkbox Column -->
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>
        <i class="fas fa-cog"></i>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="row">
          <div *ngIf="abilitaSelectMultipla" class="col-sm-6 col-md-6 col-lg-6"
               style="padding-top: 5px">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          class=""
                          
                          >
            </mat-checkbox>
          </div>
          <div [ngClass]="{'col-sm-6 col-md-6 col-lg-6': abilitaSelectMultipla,
                         'col-sm-12 col-md-12 col-lg-12': !abilitaSelectMultipla}">
            <div class="btn-group btn-group-xs">
              <button *ngIf="abilitaClickRecord"
                      type="button"
                      ngbTooltip="Gestisci il Record"
                      placement="top-left"
                      container="body"
                      (click)="onClickRow($event,row)"
                      class="btn bg-orange bg-color-palette btn-xs"
                      >
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button *ngIf="abilitaVediAttivita"
                      type="button"
                      ngbTooltip="Apri Vedi Attivita'"
                      placement="top-left"
                      container="body"
                      (click)="onClickVediAttivita($event,row)"
                      class="btn bg-orange bg-color-palette btn-xs"
                      >
                <i class="fas fa-external-link-alt"></i>
              </button>
            </div>
          </div>
        </div>


      </td>
    </ng-container>

    <!-- colonne griglia  -->
    <ng-container *ngFor="let itemCol of gridColObj" matColumnDef="{{itemCol.NOME_COLONNA}}" [sticky]="isSticky(itemCol.NOME_COLONNA)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="itemCol.COLORE_CUSTOM ? itemCol.COLORE_CUSTOM : 'mat-table-sticky'"> {{itemCol.LABEL}} </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="(itemCol.IS_TIPO_ICONA && itemCol.IS_TIPO_ICONA === 1)">
          <i *ngIf="row[itemCol.NOME_COLONNA] === 'SI'" class="{{itemCol.CUSTOM_ICON_SI}}"></i>
          <i *ngIf="row[itemCol.NOME_COLONNA] === 'NO'" class="{{itemCol.CUSTOM_ICON_NO}}"></i>
        </ng-container>
        <ng-container *ngIf="!itemCol.IS_TIPO_ICONA || (itemCol.IS_TIPO_ICONA && itemCol.IS_TIPO_ICONA === 0)"> {{row[itemCol.NOME_COLONNA]}} </ng-container>
        
      </td>
    </ng-container>
    
    
    <!-- filtri -->
    <ng-container *ngFor="let itemFilter of displayedColumnFilters" matColumnDef="{{itemFilter}}" >
       <th mat-header-cell *matHeaderCellDef [ngClass]="filtriCustom && filtriCustom[itemFilter] && filtriCustom[itemFilter].COLORE_FILTRO ? filtriCustom[itemFilter].COLORE_FILTRO : 'mat-table-sticky'">
        <!-- STANDARD FILTER TEXT -->
        <input *ngIf="itemFilter !== 'select-filter' && itemFilter !== 'option-filter' && (!filtriCustom[itemFilter] || filtriCustom[itemFilter].INPUT==='INPUT') " type="text" placeholder="Cerca..." class="form-control form-control-sm" (keyup)="filterchanged($event.target.value, itemFilter)" />
        <!-- CUSTOM FILTER SELECT -->

          <mat-select placeholder="Seleziona..." *ngIf="itemFilter !== 'select-filter' && itemFilter !== 'option-filter' && filtriCustom[itemFilter] && filtriCustom[itemFilter].INPUT==='SELECT'" class="form-control form-control-sm" (selectionChange)="filterchangedSelect($event,itemFilter)">
            <mat-option [value]="">Seleziona...</mat-option>
            <mat-option *ngFor="let customFilter of filtriCustom[itemFilter].VALORI" [value]="customFilter">
              {{customFilter}}
            </mat-option>
          </mat-select>

        
        <div class="row" *ngIf="((itemFilter === 'select-filter' || itemFilter === 'option-filter') && !filtriCustom[itemFilter])">
          <div *ngIf="itemFilter === 'select-filter'" class="col-sm-6 col-md-6 col-lg-6" style="padding-top: 5px;">
            <mat-checkbox 
                          (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </div>
          <div [ngClass]="{'col-sm-6 col-md-6 col-lg-6': abilitaSelectMultipla,
                         'col-sm-12 col-md-12 col-lg-12': !abilitaSelectMultipla}">
            <div *ngIf="!loaderExportExcel" class="btn-group btn-group-xs">
              <button type="button"
                      (click)="onReloadGrid($event)"
                      style="width: 24px;border: solid 1px black;"
                      placement="top" ngbTooltip="Ricarica Griglia" container="body"
                      class="btn bg-white bg-color-palette btn-xs"
                      >
                <i class="fas fa-sync-alt"></i>
              </button>
              <button type="button"
                      style="width: 24px;border: solid 1px black;"
                      (click)="exportExcel($event)"
                      placement="top" ngbTooltip="Download Excel" container="body"
                      class="btn bg-white bg-color-palette btn-xs"
                      >
                <i class="fas fa-file-excel"></i>
              </button>
            </div>
            
            <div class="row justify-content-center" *ngIf="loaderExportExcel">
              <i class="fas fa-sync-alt fa-spin"></i>
            </div>
            
          </div>
          
        </div>
        
       </th>
    </ng-container>
    
    
    <!-- Dettaglio Espansione -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="info-box small" style="width: 100%;margin-bottom: 0px;">
              <span class="info-box-icon bg-orange"><i class="fas fa-info-circle"></i></span>

              <div class="" style="width: 50%;padding-left: 5px">
                

                
                <div class="row" style="text-align: left;">
                  <ng-container *ngFor="let item of gridColObj">
                    <div *ngIf="infoElement[item.NOME_COLONNA]" class="col-sm-4">
                      <strong>{{infoElement[item.NOME_COLONNA].ETICHETTA}}: </strong> <br>{{element[item.NOME_COLONNA]}}
                      <!--
                      <i *ngIf="infoElement[item.NOME_COLONNA].TIPO ==='VARCHAR2'" class="fas fa-lg fa-file-alt"></i>
                      <i *ngIf="infoElement[item.NOME_COLONNA].TIPO ==='NUMBER'" class="fas fa-lg fa-keyboard"></i>
                      <i *ngIf="infoElement[item.NOME_COLONNA].TIPO ==='DATE'" class="fas fa-lg fa-calendar-alt"></i>
                      -->
                       
                    </div>
                  </ng-container>
                </div>
               
              </div>
              <!-- /.info-box-content -->
          </div>
          
          <!--
          <div class="callout callout-warning" style="width: 100%;margin-bottom: 0px;">
           <p *ngFor="let item of element | keyvalue">
              key: {{item.key}} - value: {{item.value}}
           </p> 
          </div>
          -->


        </div>
      </td>
    </ng-container> 


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnFilters; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; this.outFocus.emit(true);">
    </tr>

    <!-- Espandi --> 
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    
    <!-- Nessun risultato -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">Nessun dato trovato</td>
    </tr>
    
    
  </table>
</div>

<div *ngIf="!mostraDettaglio" class="example-container mat-elevation-z4">
  <table  mat-table [dataSource]="dataSource"  matSort class="table table-bordered table-striped table-hover" >
    
    <!-- Checkbox Column -->
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>
        <i class="fas fa-cog"></i>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="row">
          <div *ngIf="abilitaSelectMultipla" class="col-sm-6 col-md-6 col-lg-6"
               style="padding-top: 5px">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null; outRecordSelezionato.emit(selection);"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          class=""
                          
                          >
            </mat-checkbox>
          </div>
          <div [ngClass]="{'col-sm-6 col-md-6 col-lg-6': abilitaSelectMultipla,
                         'col-sm-12 col-md-12 col-lg-12': !abilitaSelectMultipla}">
            <div class="btn-group btn-group-xs">
              <button *ngIf="abilitaClickRecord"
                      type="button"
                      ngbTooltip="Gestisci il Record"
                      placement="top-left"
                      container="body"
                      (click)="onClickRow($event,row)"
                      class="btn bg-orange bg-color-palette btn-xs"
                      >
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button *ngIf="abilitaVediAttivita"
                      type="button"
                      ngbTooltip="Apri Vedi Attivita'"
                      placement="top-left"
                      container="body"
                      (click)="onClickVediAttivita($event,row)"
                      class="btn bg-orange bg-color-palette btn-xs"
                      >
                <i class="fas fa-external-link-alt"></i>
              </button>
            </div>
          </div>
          
        
          
        </div>


      </td>
    </ng-container>

    <!-- colonne griglia  -->
    <ng-container *ngFor="let itemCol of gridColObj" matColumnDef="{{itemCol.NOME_COLONNA}}" [sticky]="isSticky(itemCol.NOME_COLONNA)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="itemCol.COLORE_CUSTOM ? itemCol.COLORE_CUSTOM : 'mat-table-sticky'"> {{itemCol.LABEL}} </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="(itemCol.IS_TIPO_ICONA && itemCol.IS_TIPO_ICONA === 1)">
          <i *ngIf="row[itemCol.NOME_COLONNA] === 'SI'" class="{{itemCol.CUSTOM_ICON_SI}}"></i>
          <i *ngIf="row[itemCol.NOME_COLONNA] === 'NO'" class="{{itemCol.CUSTOM_ICON_NO}}"></i>
        </ng-container>
        <ng-container *ngIf="!itemCol.IS_TIPO_ICONA || (itemCol.IS_TIPO_ICONA && itemCol.IS_TIPO_ICONA === 0)"> {{row[itemCol.NOME_COLONNA]}} </ng-container>
        
      </td>
    </ng-container>
    
    

    <!-- filtri -->
    <ng-container *ngFor="let itemFilter of displayedColumnFilters" matColumnDef="{{itemFilter}}" >
       <th mat-header-cell *matHeaderCellDef [ngClass]="filtriCustom && filtriCustom[itemFilter] && filtriCustom[itemFilter].COLORE_FILTRO ? filtriCustom[itemFilter].COLORE_FILTRO : 'mat-table-sticky'">
        <!-- STANDARD FILTER TEXT -->
        <input *ngIf="itemFilter !== 'select-filter' && itemFilter !== 'option-filter' && (!filtriCustom[itemFilter] || filtriCustom[itemFilter].INPUT==='INPUT') " type="text" placeholder="Cerca..." class="form-control form-control-sm" (keyup)="filterchanged($event.target.value, itemFilter)" />
        <!-- CUSTOM FILTER SELECT -->

          <mat-select placeholder="Seleziona..." *ngIf="itemFilter !== 'select-filter' && itemFilter !== 'option-filter' && filtriCustom[itemFilter] && filtriCustom[itemFilter].INPUT==='SELECT'" class="form-control form-control-sm" (selectionChange)="filterchangedSelect($event,itemFilter)">
            <mat-option [value]="">Seleziona...</mat-option>
            <mat-option *ngFor="let customFilter of filtriCustom[itemFilter].VALORI" [value]="customFilter">
              {{customFilter}}
            </mat-option>
          </mat-select>

        
        <div class="row" *ngIf="((itemFilter === 'select-filter' || itemFilter === 'option-filter') && !filtriCustom[itemFilter])">
          <div *ngIf="itemFilter === 'select-filter'" class="col-sm-6 col-md-6 col-lg-6" style="padding-top: 5px;">
            <mat-checkbox 
                          (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </div>
          <div [ngClass]="{'col-sm-6 col-md-6 col-lg-6': abilitaSelectMultipla,
                         'col-sm-12 col-md-12 col-lg-12': !abilitaSelectMultipla}">
            <div *ngIf="!loaderExportExcel" class="btn-group btn-group-xs">
              <button type="button"
                      (click)="onReloadGrid($event)"
                      style="width: 24px;border: solid 1px black;"
                      placement="top" ngbTooltip="Ricarica Griglia" container="body"
                      class="btn bg-white bg-color-palette btn-xs"
                      >
                <i class="fas fa-sync-alt"></i>
              </button>
              <button type="button"
                      style="width: 24px;border: solid 1px black;"
                      (click)="exportExcel($event)"
                      placement="top" ngbTooltip="Download Excel" container="body"
                      class="btn bg-white bg-color-palette btn-xs"
                      >
                <i class="fas fa-file-excel"></i>
              </button>
            </div>
            
            <div class="row justify-content-center" *ngIf="loaderExportExcel">
              <i class="fas fa-sync-alt fa-spin"></i>
            </div>
            
          </div>
          
        </div>
        
       </th>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnFilters; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;">
    </tr>

   
    <!-- Nessun risultato -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">Nessun dato trovato</td>
    </tr>
    
    
  </table>


</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

<!-- div del component vedi attivita -->
<ng-container *ngIf="vediAttivitaCfg.mostraVediAttivita">
  <app-vedi-attivita [idAttivita]="vediAttivitaCfg.idAttivita"
                     [cssStyle]="vediAttivitaCfg.cssStyle"
                     (outClose)="vediAttivitaClose($event)"
                     ></app-vedi-attivita>
</ng-container>
 