.example-container {
  height: 410px;
  overflow: auto;
}

.mat-table-sticky {
  background: #fd7e14;
  opacity: 1;
  color: white;
}


.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}


:host ::ng-deep .mat-sort-header-container {
   display: flex;
   justify-content: center;
   padding-left: 15px;
}

.mat-header-cell, .mat-footer-cell {
    min-width: 120px;
    box-sizing: border-box;
    text-align: center;
    justify-content:center;
    vertical-align: middle;
    padding-left: 5px !important;
    padding-right: 5px;
    color: white;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 5px;
}

.mat-cell {
    min-width: 120px;
    box-sizing: border-box;
    text-align: center !important;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 2px;
}


/* gestione dettaglio espanso */

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}






