<div class="row">
  <div class="col-12">
    <div class="card card card-orange">
      <div class="card-header">
        <h3 class="card-title"><strong>Presidi Magazzini</strong></h3>
        
        <div class="card-tools">
          <div class="input-group input-group-sm" style="">
            <input type="text" [(ngModel)]="filterSede" class="form-control float-right" placeholder="Filtra..">
          </div>
        </div>
        
      </div>
      <!-- /.card-header -->
      
      <div class="row justify-content-center" *ngIf="loaderGrid" style="padding: 5px">
        <i class="fas fa-sync-alt fa-spin fa-w-14 fa-2x"></i>
      </div>
      
      <div class="row justify-content-center" *ngIf="loaderEseguiAzione" style="padding: 5px">
        <i class="fas fa-sync-alt fa-spin fa-w-14 fa-2x"></i>
      </div>
      
      <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione" style="padding: 5px">
        <div class="col-sm-12 col-md-12 col-lg-12">
      
            <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success" style="margin-bottom: 0px;">
              <h5><i class="icon fas fa-check"></i>Attenzione</h5>
              <span [innerHTML]="msgEsitoAzione"></span>
            </div>
            
            <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger" style="margin-bottom: 0px;">
              <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
              {{msgEsitoAzione}}
            </div>
            
            <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning" style="margin-bottom: 0px;">
              <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
              {{msgEsitoAzione}}
            </div>  
          
        </div>
      </div> 
      
      <div *ngIf="!loaderGrid" class="card-body table-responsive p-0" style="height: 450px;padding: 5px;">
      
        <table class="table table-bordered table-head-fixed">
          <thead class="table-days-header">
            <tr>
              <th class="table-days-header  bg-orange color-palette">SEDE</th>
              <th class="table-days-cell    bg-warning color-palette">LUN</th>
              <th class="table-days-cell    bg-orange color-palette">MAR</th>
              <th class="table-days-cell    bg-warning color-palette">MER</th>
              <th class="table-days-cell    bg-orange color-palette">GIO</th>
              <th class="table-days-cell    bg-warning color-palette">VEN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let presidio of listaMagazziniPresidiati | filter:filterSede">
              <td>{{presidio.SEDE}}</td>
              <td class="table-days-cell">
               
                  <button type="button" class="day-button-icon btn" 
                          [ngClass]="{'btn-success': presidio.LUNEDI === 'SI',
                                      'btn-danger': presidio.LUNEDI === 'NO'}"
                          (click)="clickPresidio(presidio,'LUNEDI',presidio.LUNEDI)"
                  >
                    <i class="fas" [ngClass]="{ 'fa-user-alt': presidio.LUNEDI === 'SI',
                                                'fa-user-alt-slash': presidio.LUNEDI === 'NO'}"></i></button>
              </td>
              <td class="table-days-cell">
                  <button type="button"  class="day-button-icon btn" 
                          [ngClass]="{'btn-success': presidio.MARTEDI === 'SI',
                                      'btn-danger': presidio.MARTEDI === 'NO'}"
                          (click)="clickPresidio(presidio,'MARTEDI',presidio.MARTEDI)"
                  >
                    <i class="fas" [ngClass]="{ 'fa-user-alt': presidio.MARTEDI === 'SI',
                            'fa-user-alt-slash': presidio.MARTEDI === 'NO'}"></i></button>
              </td>
              <td class="table-days-cell">
                  <button type="button"  class="day-button-icon btn" 
                          [ngClass]="{'btn-success': presidio.MERCOLEDI === 'SI',
                                      'btn-danger': presidio.MERCOLEDI === 'NO'}"
                          (click)="clickPresidio(presidio,'MERCOLEDI',presidio.MERCOLEDI)"
                  >
                   <i class="fas" [ngClass]="{ 'fa-user-alt': presidio.MERCOLEDI === 'SI',
                            'fa-user-alt-slash': presidio.MERCOLEDI === 'NO'}"></i></button>
              </td>
              <td class="table-days-cell">
                  <button type="button"  class="day-button-icon btn" 
                          [ngClass]="{'btn-success': presidio.GIOVEDI === 'SI',
                                      'btn-danger': presidio.GIOVEDI === 'NO'}"
                          (click)="clickPresidio(presidio,'GIOVEDI',presidio.GIOVEDI)"
                  >
                   <i class="fas" [ngClass]="{ 'fa-user-alt': presidio.GIOVEDI === 'SI',
                            'fa-user-alt-slash': presidio.GIOVEDI === 'NO'}"></i></button>
              </td>
              <td class="table-days-cell">
                  <button type="button"  class="day-button-icon btn"
                          [ngClass]="{'btn-success': presidio.VENERDI === 'SI',
                                      'btn-danger': presidio.VENERDI === 'NO'}"
                          (click)="clickPresidio(presidio,'VENERDI',presidio.VENERDI)"
                  >
                   <i class="fas" [ngClass]="{ 'fa-user-alt': presidio.VENERDI === 'SI',
                            'fa-user-alt-slash': presidio.VENERDI === 'NO'}"></i></button>
                              
              
              </td>
            </tr>
          </tbody>
        </table>
       
      </div>
      <!-- /.card-body -->
      <!--
      <div class="card-footer">
 
        <button type="button" *ngIf="isModify" class="btn bg-orange bg-color-palette btn-sm float-right"
                >Conferma
          <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
          <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
        </button>
      </div>
      -->
    </div>
    <!-- /.card -->
  </div>
</div>