<!--
<pre>{{datiAzioneObj | json}}</pre>
-->

<form role="form" [formGroup]="reactiveFormAzSospeso" (ngSubmit)="eseguiAzione()">
  <div class="card-body">
    
    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>
    
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
   
      <!-- Input Causale Sospensione -->
      <div class="form-group">
        <label  for="inputCausaleSospensione">Causale Sospensione *:
        </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-list"></i></span>
          </div>
          <select 
                  class="form-control form-control-sm"
                  id="inputCausaleSospensione"
                  name="inputCausaleSospensione"
                  autocomplete="off"
                  formControlName="sCausaleSospensioneCheck"
                  (change)="changeCausaleSospensioneValue($event)"
                  [ngClass]="{'is-valid': reactiveFormAzSospeso.controls.sCausaleSospensioneCheck.valid,
                              'is-invalid': reactiveFormAzSospeso.controls.sCausaleSospensioneCheck.invalid}"
                  >
            <option value="">Seleziona...</option>
            <option *ngFor="let vOptionValueCausaleSospensione of aOptionCausaleSospensione" (value)="vOptionValueCausaleSospensione.CAUSALE_SOSPENSIONE">{{vOptionValueCausaleSospensione.CAUSALE_SOSPENSIONE}}</option>
          </select>                         
          
        </div>
        
        <span *ngIf="reactiveFormAzSospeso.controls.sCausaleSospensioneCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
      </div>   
     
       <div class="row">
        <!-- Input Data RitiroResoProposta  -->
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <label  for="inputDataRitiroResoProposta">Data Ritiro Reso Proposta *: </label>
          <div class="input-group input-group-sm" style="padding-top: 2px;">
        
            
            <input class="form-control" placeholder="DD/MM/YYYY"
                  id="inputDataRitiroResoProposta"
                  name="inputDataRitiroResoProposta"
                  formControlName="sDataRitiroResoPropostaCheck"
                  ngbDatepicker
                  (dateSelect)="onDateSelect($event)"
                  [readonly]="true"
                  #sDataRitiroResoProposta="ngbDatepicker"
                  >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="sDataRitiroResoProposta.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i> 
              </button>
            </div>
            
        
            
            
          </div>
          
          <!--<pre>{{reactiveFormAzSospeso.value.sDataRitiroResoPropostaCheck | json}}</pre>-->
          
          <span *ngIf="reactiveFormAzSospeso.controls.sDataRitiroResoPropostaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
        
        
        </div>
        
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <div class="input-group input-group-sm">
            <ngb-timepicker 
                            id="inputOraRitiroResoProposta"
                            name="inputOraRitiroResoProposta"
                            formControlName="sOraRitiroResoPropostaCheck"
                            size="small"
            ></ngb-timepicker>
          
          </div>
          <span *ngIf="reactiveFormAzSospeso.controls.sOraRitiroResoPropostaCheck.errors" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare l'orario</span>
        </div>      
      </div>      
      
  
     
      
      <!-- Input Note Sospensione -->
      <div class="form-group">
        <label  for="inputNoteSospensione">Note Sospensione: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-clipboard"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputNoteSospensione"
                  name="inputNoteSospensione"
                  formControlName="sNoteSospensioneCheck"
                  autocomplete="off"
                  [ngClass]="{'is-valid': reactiveFormAzSospeso.controls.sNoteSospensioneCheck.valid,
                              'is-invalid': reactiveFormAzSospeso.controls.sNoteSospensioneCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzSospeso.controls.sNoteSospensioneCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div>

    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div>       
    




  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzSospeso.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  
