<app-menu-tile *ngIf="livelloPassato==livelloAttuale"
               [navTileMenuCfg]="navTileMenuCfg"
               [livelloAttuale]="livelloAttuale"
               [livelloPassato]="livelloPassato"
               >
  
</app-menu-tile>
  

<router-outlet></router-outlet>



  


