  <div class="row justify-content-center" *ngIf="isAuthenticationLoader" style="padding-top: 230px">
    <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
  </div>
<div *ngIf="!isAuthenticationLoader && !autenticato && !error404" class="login-page" id="class_sfondo_gui">
    <div class="login-box" >
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-header text-center bg-orange">
          <a href="/home" class="h1">

            <div *ngIf="headerDataObj.mostraLogoCustom" class="navbar-brand {{ headerDataObj.cssStyleLogoSideBar }} sidebar-text-logo-white-custom">

               <div style="float: left">
                 <img src="{{ headerDataObj.logoImageSirti }}" class="brand-image sidebar-logo-sirti-custom">
               </div>
               <div class="sidebar-logo-cliente-custom">
                 <span class="sidebar-text1-logo-custom">{{ headerDataObj.nomeApp }}

                   <img src="{{ headerDataObj.logoImageCliente}}" style="height: 23px;">

                 </span>
                 <hr class="sidebar-hr-logo-custom " />
                 <span class="sidebar-text2-logo-custom">Single Point of Management</span>
               </div>

           </div>


          </a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Eseguire il login per attivare la sessione</p>

          <form [formGroup]="userProfileForm">
            <div class="input-group mb-3 form-group">
              <input type="text"
                     formControlName="username"
                     autocomplete="off"
                     id="inputUser"
                     name="inputUser"
                     class="form-control"
                     placeholder="Login Operatore">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password"  formControlName="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <!--
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div>-->
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="button" (click)="login()" class="btn bg-orange btn-block"><i class="fas fa-sign-in-alt"></i> Login</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
          <!--
          <div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>
          </div>
           /.social-auth-links -->
    <!--
          <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
          </p>
          <p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
          </p>
          /.social-auth-links -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
</div>
<div *ngIf="error404" class="login-page" id="class_sfondo_gui">
    <div class="login-box" >
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-header text-center bg-orange">
          <a href="/home" class="h1">

            <div *ngIf="headerDataObj.mostraLogoCustom" class="navbar-brand {{ headerDataObj.cssStyleLogoSideBar }} sidebar-text-logo-white-custom">

               <div style="float: left">
                 <img src="{{ headerDataObj.logoImageSirti }}" class="brand-image sidebar-logo-sirti-custom">
               </div>
               <div class="sidebar-logo-cliente-custom">
                 <span class="sidebar-text1-logo-custom">{{ headerDataObj.nomeApp }}

                   <img src="{{ headerDataObj.logoImageCliente}}" style="height: 23px;">

                 </span>
                 <hr class="sidebar-hr-logo-custom " />
                 <span class="sidebar-text2-logo-custom">Single Point of Management</span>
               </div>

           </div>


          </a>
        </div>
        <div class="card-body">
          
          <div class="callout callout-danger">
            <h5><i class="fas fa-ban"></i> {{errorMsg.status}}</h5>
          
            <p>{{errorMsg.statusText}}</p>
          </div>          
          
          
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
</div>
