<!--
<pre>{{datiAzioneObj | json}}</pre>
-->

<form role="form" [formGroup]="reactiveFormAzRifiutoMaterialeAccettato" (ngSubmit)="eseguiAzione()">
  <div class="card-body">
    
    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>    
    
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
   
      <div class="row" *ngIf="datiAzioneObj.multiStep">
       <!-- Input Data Consegna  -->
       <div class="form-group col-sm-6 col-md-6 col-lg-6">
         
         <label  for="inputDataConsegna">Data Consegna *: </label>
         <div class="input-group input-group-sm" style="padding-top: 2px;">
       
           
           <input class="form-control" placeholder="DD/MM/YYYY"
                 id="inputDataConsegna"
                 name="inputDataConsegna"
                 formControlName="sDataConsegnaCheck"
                 ngbDatepicker
                 (dateSelect)="onDateSelect($event,'DATA_CONSEGNA')"
                 [readonly]="true"
                 #sDataConsegna="ngbDatepicker"
                 >
           <div class="input-group-append">
             <button class="btn btn-outline-secondary" (click)="sDataConsegna.toggle()" type="button">
             <i class="fas fa-calendar-alt"></i> 
             </button>
           </div>
           
       
           
           
         </div>
         
         <!--<pre>{{reactiveFormAzRifiutoMaterialeAccettato.value.sDataConsegnaCheck | json}}</pre>-->
         
         <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sDataConsegnaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
       
       
       </div>
       
       <div class="form-group col-sm-6 col-md-6 col-lg-6">
         
         <div class="input-group input-group-sm">
           <ngb-timepicker 
                           id="inputOraConsegna"
                           name="inputOraConsegna"
                           formControlName="sOraConsegnaCheck"
                           size="small"
           ></ngb-timepicker>
         
         </div>
         <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sOraConsegnaCheck.errors" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare l'orario</span>
       </div>      
     </div>      
     
     <!-- Input Esito Consegna -->
     <div class="form-group" *ngIf="datiAzioneObj.multiStep">
       <label  for="inputEsitoConsegna">Esito Consegna *: </label>
       <div class="input-group input-group-sm">
         <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="sEsitoConsegnaCheck">
           <label ngbButtonLabel class="btn-success">
             <input ngbButton type="radio" [value]="'IN SLA'">
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sEsitoConsegnaCheck !== 'IN SLA'" class="fas fa-square"></i>
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sEsitoConsegnaCheck === 'IN SLA'" class="fas fa-check-square"></i>
             IN SLA
           </label>
           <label ngbButtonLabel class="btn-danger">
             <input ngbButton type="radio" [value]="'FUORI SLA'">
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sEsitoConsegnaCheck !== 'FUORI SLA'" class="fas fa-square"></i>
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sEsitoConsegnaCheck === 'FUORI SLA'" class="fas fa-check-square"></i>
             FUORI SLA
           </label>
           <label ngbButtonLabel class="btn-info">
             <input ngbButton type="radio" [value]="'NON CONFORME'">
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sEsitoConsegnaCheck !== 'NON CONFORME'" class="fas fa-square"></i>
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sEsitoConsegnaCheck === 'NON CONFORME'" class="fas fa-check-square"></i>
             NON CONFORME
           </label>
         </div>
       </div>
       <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sEsitoConsegnaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare uno dei valori disponibili</span>
     </div>  
    
    
     <!-- Input Quantita  -->
     <div class="form-group">
       <label  for="inputQuantita">Quantit&agrave; *: </label>
       <div class="input-group input-group-sm">
         <div class="input-group-prepend">
           <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
         </div>
         <input  type="text"
                 class="form-control form-control-sm"
                 id="inputQuantita"
                 name="inputQuantita"
                 formControlName="nQuantitaCheck"
                 autocomplete="off"
                 [readonly]="true"
                 [ngClass]="{'is-valid': reactiveFormAzRifiutoMaterialeAccettato.controls.nQuantitaCheck.valid,
                             'is-invalid': reactiveFormAzRifiutoMaterialeAccettato.controls.nQuantitaCheck.invalid}"
                 >
       </div>
       <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.nQuantitaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i>
       <ng-container *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER">Il valore deve essere >= 1</ng-container>
       <ng-container *ngIf="!datiAzioneObj.materiale.SERIAL_NUMBER">Il valore deve essere >= 1 e <= {{datiAzioneObj.materiale.QUANTITA}}</ng-container>
       </span>
     </div>
     
     <!-- Input Note Guasto -->
     <div class="form-group">
       <label  for="inputTipologiaGuasto">Note Guasto *: </label>
       <div class="input-group input-group-sm">
         <div class="input-group-prepend">
           <span class="input-group-text"><i class="fas fa-clipboard"></i></span>
         </div>
         <input  type="text"
                 class="form-control form-control-sm"
                 id="inputTipologiaGuasto"
                 name="inputTipologiaGuasto"
                 formControlName="sTipologiaGuastoCheck"
                 autocomplete="off"
                 [ngClass]="{'is-valid': reactiveFormAzRifiutoMaterialeAccettato.controls.sTipologiaGuastoCheck.valid,
                             'is-invalid': reactiveFormAzRifiutoMaterialeAccettato.controls.sTipologiaGuastoCheck.invalid}"
                 >
       </div>
       <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sTipologiaGuastoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
     </div>
     
    
     <!-- Input Causale -->
     <div class="form-group">
       <label  for="inputCausale">Causale *: </label>
       <div class="input-group input-group-sm">
         <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="sCausaleCheck">
           <label ngbButtonLabel class="btn-danger">
             <input ngbButton type="radio" [value]="'GUASTO'">
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sCausaleCheck === 'FUNZIONANTE' || !reactiveFormAzRifiutoMaterialeAccettato.value.sCausaleCheck" class="fas fa-square"></i>
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sCausaleCheck === 'GUASTO'" class="fas fa-check-square"></i>
             GUASTO
           </label>
           <label ngbButtonLabel class="btn-success">
             <input ngbButton type="radio" [value]="'FUNZIONANTE'">
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sCausaleCheck === 'GUASTO' || !reactiveFormAzRifiutoMaterialeAccettato.value.sCausaleCheck" class="fas fa-square"></i>
               <i *ngIf="reactiveFormAzRifiutoMaterialeAccettato.value.sCausaleCheck === 'FUNZIONANTE'" class="fas fa-check-square"></i>
             FUNZIONANTE
           </label>
         </div>
       </div>
       <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sCausaleCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare uno dei valori disponibili</span>
     </div>
     
     
     <!-- Input Descrizione Guasto -->
     <div class="form-group">
       <label  for="inputMotivazioneRifiuto">Descrizione Guasto *:
       </label>
       <div class="input-group input-group-sm">
         <div class="input-group-prepend">
           <span class="input-group-text"><i class="fas fa-list"></i></span>
         </div>
         <select 
                 class="form-control form-control-sm"
                 id="inputMotivazioneRifiuto"
                 name="inputMotivazioneRifiuto"
                 autocomplete="off"
                 formControlName="sMotivazioneRifiutoCheck"
                 (change)="changeMotivazioneRifiutoValue($event)"
                 [ngClass]="{'is-valid': reactiveFormAzRifiutoMaterialeAccettato.controls.sMotivazioneRifiutoCheck.valid,
                             'is-invalid': reactiveFormAzRifiutoMaterialeAccettato.controls.sMotivazioneRifiutoCheck.invalid}"
                 >
           <option value="">Seleziona...</option>
           <option *ngFor="let vOptionValueMotivazioneRifiuto of aOptionMotivazioneRifiuto" (value)="vOptionValueMotivazioneRifiuto.ERROR_CODE">{{vOptionValueMotivazioneRifiuto.DESCRIZIONE}}</option>
         </select>
       </div>
       <div style="padding-top: 5px;" class="input-group input-group-sm" *ngIf="mostraAltraMotivazioneRifiuto">
         <div class="input-group-prepend">
           <span class="input-group-text"><i class="fas fa-edit"></i></span>
         </div>         
         <input  
                 type="text"
                 class="form-control form-control-sm"
                 id="inputAltraMotivazioneRifiuto"
                 name="inputAltraMotivazioneRifiuto"
                 formControlName="sAltraMotivazioneRifiutoCheck"
                 autocomplete="off"
                 [ngClass]="{'is-valid': reactiveFormAzRifiutoMaterialeAccettato.controls.sAltraMotivazioneRifiutoCheck.valid,
                             'is-invalid': reactiveFormAzRifiutoMaterialeAccettato.controls.sAltraMotivazioneRifiutoCheck.invalid}"
                 >
         
       </div>
       
       <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sMotivazioneRifiutoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
     </div>
    
     
     <div class="row" *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER">
       <!-- Input Data Ritiro Appuntamento  -->
       <div class="form-group col-sm-6 col-md-6 col-lg-6">
         
         <label  for="inputDataRitiroAppuntamento">Data Ritiro Appuntamento *: </label>
         <div class="input-group input-group-sm" style="padding-top: 2px;">
       
           
           <input class="form-control" placeholder="DD/MM/YYYY"
                 id="inputDataRitiroAppuntamento"
                 name="inputDataRitiroAppuntamento"
                 formControlName="sDataRitiroAppuntamentoCheck"
                 ngbDatepicker
                 (dateSelect)="onDateSelect($event,'DATA_RITIRO_APPUNTAMENTO')"
                 [readonly]="true"
                 [markDisabled]="markDisabled"
                 #sDataRitiroAppuntamento="ngbDatepicker"
                 >
           <div class="input-group-append">
             <button class="btn btn-outline-secondary" (click)="sDataRitiroAppuntamento.toggle()" type="button">
             <i class="fas fa-calendar-alt"></i> 
             </button>
           </div>
           
       
           
           
         </div>
         
         <!--<pre>{{reactiveFormAzRifiutoMaterialeAccettato.value.sDataRitiroAppuntamentoCheck | json}}</pre>-->
         
         <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sDataRitiroAppuntamentoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
       
       
       </div>
       
       <div class="form-group col-sm-6 col-md-6 col-lg-6">
         
         <div class="input-group input-group-sm">
           <ngb-timepicker 
                           id="inputOraRitiroAppuntamento"
                           name="inputOraRitiroAppuntamento"
                           formControlName="sOraRitiroAppuntamentoCheck"
                           size="small"
           ></ngb-timepicker>
         
         </div>
         <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sOraRitiroAppuntamentoCheck.errors && reactiveFormAzRifiutoMaterialeAccettato.controls.sOraRitiroAppuntamentoCheck.errors.errorMinMax" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> La data selezionata deve essere compresta tra le ore {{datiAzioneObj.orario.min}} e le ore {{datiAzioneObj.orario.max}}</span>
       </div>      
     </div>  
     
     <!-- Input Restituzione Reso Presso -->
     <div class="form-group" *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER">
       <label  for="inputRestituzioneResoPresso">CONFERMI LA CONSEGNA PRESSO GLS * ? 
       </label>
       <div class="input-group input-group-sm">
         <div class="input-group-prepend">
           <span class="input-group-text"><i class="fas fa-truck fa-flip-horizontal"></i></span>
         </div>
         <select 
                 class="form-control form-control-sm"
                 id="inputRestituzioneResoPresso"
                 name="inputRestituzioneResoPresso"
                 autocomplete="off"
                 formControlName="sRestituzioneResoPressoCheck"
                 (change)="changeResoPressoValue($event)"
                 [ngClass]="{'is-valid': reactiveFormAzRifiutoMaterialeAccettato.controls.sRestituzioneResoPressoCheck.valid,
                             'is-invalid': reactiveFormAzRifiutoMaterialeAccettato.controls.sRestituzioneResoPressoCheck.invalid}"
                 >
           <option value="" disabled>Seleziona...</option>
           <option *ngFor="let vOptionValueRp of aOptionValueResoPresso" (value)="vOptionValueRp">{{vOptionValueRp}}</option>
         </select>                         
         
       </div>
       
       <span *ngIf="reactiveFormAzRifiutoMaterialeAccettato.controls.sRestituzioneResoPressoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
     </div>
    
    
    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div> 



  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzRifiutoMaterialeAccettato.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  
