<!--
<pre>{{datiAzioneObj | json}}</pre>
-->

<form role="form" [formGroup]="reactiveFormAzConfermaSospensione" (ngSubmit)="eseguiAzione()">
  <div class="card-body">
    
    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>
    
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
     
      <div class="row">
        <!-- Input Data Appuntamento Ritiro Reso  -->
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <label  for="inputDataAppRitiroReso">Data Appuntamento Ritiro Reso: </label>
          <div class="input-group input-group-sm" style="padding-top: 2px;">
        
            
            <input class="form-control" placeholder="DD/MM/YYYY"
                  id="inputDataAppRitiroReso"
                  name="inputDataAppRitiroReso"
                  formControlName="sDataAppRitiroResoCheck"
                  ngbDatepicker
                  [readonly]="true"
                  (dateSelect)="onDateSelect($event)"
                  #sDataAppRitiroReso="ngbDatepicker"
                  >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="sDataAppRitiroReso.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i> 
              </button>
            </div>
            
        
            
            
          </div>
          
          <!--<pre>{{reactiveFormCreaRma.value.sDataAppRitiroResoCheck | json}}</pre>-->
          
          <span *ngIf="reactiveFormAzConfermaSospensione.controls.sDataAppRitiroResoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
        
        
        </div>
        
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <div class="input-group input-group-sm">
            <ngb-timepicker
                            id="inputOraAppRitiroReso"
                            name="inputOraAppRitiroReso"
                            formControlName="sOraAppRitiroResoCheck"
                            size="small"
            ></ngb-timepicker>
          
          </div>
          <span *ngIf="reactiveFormAzConfermaSospensione.controls.sOraAppRitiroResoCheck.errors" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> La data selezionata deve essere compresta tra le {{creaRmaSection.sDataAppConsMinDateTime}} e le {{creaRmaSection.sDataAppConsMaxDateTime}}</span>
          
        </div>      
      </div>    
    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div>       
      
    
  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzConfermaSospensione.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  

