<!-- Sidebar Menu -->
<nav class="mt-2">
  
  <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-compact nav-child-indent" data-widget="treeview" role="menu" data-accordion="false" style="padding-bottom: 100px">
    <ng-template #recursiveList let-navMenuCfg>
      
      
      <li *ngFor="let itemChild of navMenuCfg" class="nav-item" [ngClass]="{'has-treeview' : itemChild.isParent, 'menu-open' : itemChild.isOpen}">
        <a *ngIf="itemChild.visible && !itemChild.isDocument && !itemChild.isDownload" routerLink="{{itemChild.routerLink}}"  class="nav-link" [ngClass]="{'active' : itemChild.isParent}" [ngStyle]="itemChild.isParent && {'background-color': itemChild.color}">
          <i [ngClass]="itemChild.icon" class="nav-icon"></i>
          <span style="white-space: break-spaces;">{{itemChild.titolo}}</span>
          <i *ngIf="itemChild.isParent" class="right fas fa-angle-left"></i>
        </a>
        
        <a *ngIf="itemChild.visible && itemChild.isDocument && !itemChild.isDownload" href="{{itemChild.routerLink}}"  placement="top" target="_blank" class="nav-link" [ngClass]="{'active' : itemChild.isParent}" [ngStyle]="itemChild.isParent && {'background-color': itemChild.color}">
          <i [ngClass]="itemChild.icon" class="nav-icon"></i>
          <span style="white-space: break-spaces;">{{itemChild.titolo}}</span>
          <i *ngIf="itemChild.isParent" class="right fas fa-angle-left"></i>
        </a>
        
        <a *ngIf="itemChild.visible && itemChild.isDocument && itemChild.isDownload" [download]="itemChild.nomeFile" [href]="itemChild.routerLink"  placement="top" target="_blank" class="nav-link" [ngClass]="{'active' : itemChild.isParent}" [ngStyle]="itemChild.isParent && {'background-color': itemChild.color}">
          <i [ngClass]="itemChild.icon" class="nav-icon"></i>
          <span style="white-space: break-spaces;">{{itemChild.titolo}}</span>
          <i *ngIf="itemChild.isParent" class="right fas fa-angle-left"></i>
        </a>
        
        <ul *ngIf="(itemChild.visible && ((itemChild.isParent) && (itemChild.children) && (itemChild.children.length > 0)))" class="nav nav-treeview">
          
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: itemChild.children }"></ng-container>

          
        </ul>                  
        
        
      </li>   
      
      
      
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: navMenuCfg }"></ng-container>
  </ul>
  
</nav>  