  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <!--
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Men&ugrave; Principale</h1>
          </div>
          -->
          <div class="col-sm-12">
            <app-bread-crumb></app-bread-crumb>

          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

<!--
        <router-outlet (activate)="onActivate($event)"></router-outlet>-->
        
        


      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
