<!--
<pre>{{datiAzioneObj | json}}</pre>
-->

<form role="form" [formGroup]="reactiveFormAzRientroAMagazzino" (ngSubmit)="eseguiAzione()">
  <div class="card-body">
    
    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>    
    
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    
      <div class="row" *ngIf="datiAzioneObj.multiStep">
        <!-- Input Data Consegna  -->
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <label  for="inputDataConsegna">Data Consegna *: </label>
          <div class="input-group input-group-sm" style="padding-top: 2px;">
        
            
            <input class="form-control" placeholder="DD/MM/YYYY"
                  id="inputDataConsegna"
                  name="inputDataConsegna"
                  formControlName="sDataConsegnaCheck"
                  ngbDatepicker
                  (dateSelect)="onDateSelect($event,'DATA_CONSEGNA')"
                  [readonly]="true"
                  #sDataConsegna="ngbDatepicker"
                  >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="sDataConsegna.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i> 
              </button>
            </div>
            
        
            
            
          </div>
          
          <!--<pre>{{reactiveFormAzRientroAMagazzino.value.sDataConsegnaCheck | json}}</pre>-->
          
          <span *ngIf="reactiveFormAzRientroAMagazzino.controls.sDataConsegnaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
        
        
        </div>
        
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <div class="input-group input-group-sm">
            <ngb-timepicker 
                            id="inputOraConsegna"
                            name="inputOraConsegna"
                            formControlName="sOraConsegnaCheck"
                            size="small"
            ></ngb-timepicker>
          
          </div>
          <span *ngIf="reactiveFormAzRientroAMagazzino.controls.sOraConsegnaCheck.errors" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare l'orario</span>
        </div>      
      </div>      
    
      <!-- Input Esito Consegna -->
      <div class="form-group" *ngIf="datiAzioneObj.multiStep">
        <label  for="inputEsitoConsegna">Esito Consegna *: </label>
        <div class="input-group input-group-sm">
          <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="sEsitoConsegnaCheck">
            <label ngbButtonLabel class="btn-success">
              <input ngbButton type="radio" [value]="'IN SLA'">
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sEsitoConsegnaCheck !== 'IN SLA'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sEsitoConsegnaCheck === 'IN SLA'" class="fas fa-check-square"></i>
              IN SLA
            </label>
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" [value]="'FUORI SLA'">
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sEsitoConsegnaCheck !== 'FUORI SLA'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sEsitoConsegnaCheck === 'FUORI SLA'" class="fas fa-check-square"></i>
              FUORI SLA
            </label>
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" [value]="'NON CONFORME'">
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sEsitoConsegnaCheck !== 'NON CONFORME'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sEsitoConsegnaCheck === 'NON CONFORME'" class="fas fa-check-square"></i>
              NON CONFORME
            </label>
          </div>
        </div>
        <span *ngIf="reactiveFormAzRientroAMagazzino.controls.sEsitoConsegnaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare uno dei valori disponibili</span>
      </div>    
    
   
      <!-- Input Quantita  -->
      <div class="form-group">
        <label  for="inputQuantita">Quantit&agrave; *: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputQuantita"
                  name="inputQuantita"
                  formControlName="nQuantitaCheck"
                  autocomplete="off"
                  [readonly]="true"
                  [ngClass]="{'is-valid': reactiveFormAzRientroAMagazzino.controls.nQuantitaCheck.valid,
                              'is-invalid': reactiveFormAzRientroAMagazzino.controls.nQuantitaCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzRientroAMagazzino.controls.nQuantitaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i>
        <ng-container *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER">Il valore deve essere >= 1</ng-container>
        <ng-container *ngIf="!datiAzioneObj.materiale.SERIAL_NUMBER">Il valore deve essere >= 1 e <= {{datiAzioneObj.materiale.QUANTITA}}</ng-container>
        </span>
      </div>
    
      <!-- Input Note Guasto -->
      <div class="form-group">
        <label  for="inputNoteGuasto">Note Guasto: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-clipboard"></i></span>
          </div>
          <input  type="text"
                  class="form-control form-control-sm"
                  id="inputNoteGuasto"
                  name="inputNoteGuasto"
                  formControlName="nNoteGuastoCheck"
                  autocomplete="off"
                  [ngClass]="{'is-valid': reactiveFormAzRientroAMagazzino.controls.nNoteGuastoCheck.valid,
                              'is-invalid': reactiveFormAzRientroAMagazzino.controls.nNoteGuastoCheck.invalid}"
                  >
        </div>
        <span *ngIf="reactiveFormAzRientroAMagazzino.controls.nNoteGuastoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
      </div>
    
    
      <div class="row" *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER && datiAzioneObj.stato.toUpperCase() !== 'MATERIALE_SU_MOBILE'">
        <!-- Input Data Ritiro Appuntamento  -->
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <label  for="inputDataRitiroAppuntamento">Data Ritiro Appuntamento *: </label>
          <div class="input-group input-group-sm" style="padding-top: 2px;">
        
            
            <input class="form-control" placeholder="DD/MM/YYYY"
                  id="inputDataRitiroAppuntamento"
                  name="inputDataRitiroAppuntamento"
                  formControlName="sDataRitiroAppuntamentoCheck"
                  ngbDatepicker
                  (dateSelect)="onDateSelect($event,'DATA_RITIRO_APPUNTAMENTO')"
                  [readonly]="true"
                  [markDisabled]="markDisabled"
                  #sDataRitiroAppuntamento="ngbDatepicker"
                  >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="sDataRitiroAppuntamento.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i> 
              </button>
            </div>
            
        
            
            
          </div>
          
          <!--<pre>{{reactiveFormAzRientroAMagazzino.value.sDataRitiroAppuntamentoCheck | json}}</pre>-->
          
          <span *ngIf="reactiveFormAzRientroAMagazzino.controls.sDataRitiroAppuntamentoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
        
        
        </div>
        
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <div class="input-group input-group-sm">
            <ngb-timepicker 
                            id="inputOraRitiroAppuntamento"
                            name="inputOraRitiroAppuntamento"
                            formControlName="sOraRitiroAppuntamentoCheck"
                            size="small"
            ></ngb-timepicker>
          
          </div>
          <span *ngIf="reactiveFormAzRientroAMagazzino.controls.sOraRitiroAppuntamentoCheck.errors && reactiveFormAzRientroAMagazzino.controls.sOraRitiroAppuntamentoCheck.errors.errorMinMax" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> La data selezionata deve essere compresta tra le ore {{datiAzioneObj.orario.min}} e le ore {{datiAzioneObj.orario.max}}</span>
        </div>      
      </div>  
    
      <!-- Input Restituzione Reso Presso -->
      <div class="form-group" *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER && datiAzioneObj.stato.toUpperCase() !== 'MATERIALE_SU_MOBILE'">
        <label  for="inputRestituzioneResoPresso">CONFERMI LA CONSEGNA PRESSO GLS * ? 
        </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-truck fa-flip-horizontal"></i></span>
          </div>
          <select 
                  class="form-control form-control-sm"
                  id="inputRestituzioneResoPresso"
                  name="inputRestituzioneResoPresso"
                  autocomplete="off"
                  formControlName="sRestituzioneResoPressoCheck"
                  (change)="changeResoPressoValue($event)"
                  [ngClass]="{'is-valid': reactiveFormAzRientroAMagazzino.controls.sRestituzioneResoPressoCheck.valid,
                              'is-invalid': reactiveFormAzRientroAMagazzino.controls.sRestituzioneResoPressoCheck.invalid}"
                  >
            <option value="" disabled>Seleziona...</option>
            <option *ngFor="let vOptionValueRp of aOptionValueResoPresso" (value)="vOptionValueRp">{{vOptionValueRp}}</option>
          </select>                         
          
        </div>
        
        <span *ngIf="reactiveFormAzRientroAMagazzino.controls.sRestituzioneResoPressoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
      </div>
    
    
      <!-- Input Stato Materiale -->
      <div class="form-group" *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER && datiAzioneObj.stato.toUpperCase() !== 'MATERIALE_SU_MOBILE'">
        <label  for="inputNoteGuasto">Stato Materiale *: </label>
        <div class="input-group input-group-sm">
          <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="sStatoMaterialeCheck">
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" [value]="'GUASTO'">
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sStatoMaterialeCheck === 'FUNZIONANTE'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sStatoMaterialeCheck === 'GUASTO'" class="fas fa-check-square"></i>
              GUASTO
            </label>
            <label ngbButtonLabel class="btn-success">
              <input ngbButton type="radio" [value]="'FUNZIONANTE'">
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sStatoMaterialeCheck === 'GUASTO'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzRientroAMagazzino.value.sStatoMaterialeCheck === 'FUNZIONANTE'" class="fas fa-check-square"></i>
              FUNZIONANTE
            </label>
          </div>
        </div>
      </div>

      <!-- Input Descrizione Guasto -->
      <div class="form-group" *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER && datiAzioneObj.stato.toUpperCase() !== 'MATERIALE_SU_MOBILE' && reactiveFormAzRientroAMagazzino.value.sStatoMaterialeCheck === 'GUASTO'">
        <label  for="inputDescGuasto">Descrizione Guasto *:
        </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-list"></i></span>
          </div>
          <select 
                  class="form-control form-control-sm"
                  id="inputDescGuasto"
                  name="inputDescGuasto"
                  autocomplete="off"
                  formControlName="sDescGuastoCheck"
                  (change)="changeDescGuastoValue($event)"
                  [ngClass]="{'is-valid': reactiveFormAzRientroAMagazzino.controls.sDescGuastoCheck.valid,
                              'is-invalid': reactiveFormAzRientroAMagazzino.controls.sDescGuastoCheck.invalid}"
                  >
            <option value="">Seleziona...</option>
            <option *ngFor="let vOptionValueDescGuasto of aOptionDescGuasto" (value)="vOptionValueDescGuasto.ERROR_CODE">{{vOptionValueDescGuasto.DESCRIZIONE}}</option>
          </select>                         
          
        </div>
        
        <span *ngIf="reactiveFormAzRientroAMagazzino.controls.sDescGuastoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
      </div>
    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div>  

  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzRientroAMagazzino.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  
