#class_sfondo_gui{		
		background-image: url(../assets/loghi/WIND_3_sfondo_filtro.png);
		/*background-image: url(../images/sfondo_3.jpg);*/
		/*background-image: url(../images/sfondo_20.jpg);*/
		/*opacity: 0.5;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		background-color: rgba(255, 255, 255,0.9);
}