<!-- wrapper -->


<div *ngIf="!esterno || esterno !=='SI'" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm">
  
  <div class="row justify-content-center" *ngIf="isAuthenticationLoader" style="padding-top: 230px">
    <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
  </div>
  
  <app-login *ngIf="!isAuthenticationLoader && !uiService.getCurrentUser && authType === 'JWT'">

  </app-login>

  <div class="wrapper" *ngIf=" !isAuthenticationLoader && uiService.getCurrentUser && authType === 'JWT'">
    <!-- header del modulo adminLte -->
    <app-header-page [headerDataObj]="pageHeaderObj"
                     [sidebarDataObj]="pageSidebarObj"
                     ></app-header-page>
    <!-- sidebar del modulo adminLte -->
    <app-sidebar-page 
                      [sidebarDataObj]="pageSidebarObj"
                      [sideBarMenuCfg]="mainMenuCfg"></app-sidebar-page>
    <!-- body del modulo adminLte 
    <app-body-page [bodyTileMenuCfg]="mainMenuCfg"></app-body-page>-->
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="class_sfondo_gui">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <!--
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Men&ugrave; Principale</h1>
            </div>
            -->
            <div class="col-sm-12">
              <app-bread-crumb [breadCrumbCfg]="mainMenuCfg"></app-bread-crumb>
  
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content" >
        <div class="container-fluid">
  
          <router-outlet *ngIf="uiService.getCurrentUser"></router-outlet>
   
  
          
  
  
        </div><!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    
    
    
    <!-- footer del modulo adminLte -->
    <app-footer-page [footerDataObj]="pagefooterObj"></app-footer-page>
  </div>
  <!-- ./wrapper -->
</div>


<div *ngIf="esterno && esterno ==='SI'" class="layout-top-nav">
  
  <div class="row justify-content-center" *ngIf="isAuthenticationLoader" style="padding-top: 230px">
    <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
  </div>
  
  <app-login  *ngIf="!isAuthenticationLoader && !uiService.getCurrentUser && authType === 'AUTH_PROXY'">

  </app-login>

  <div class="wrapper" *ngIf="!isAuthenticationLoader && uiService.getCurrentUser && authType === 'AUTH_PROXY'">
    <!-- header del modulo adminLte -->
    <app-header-page [headerDataObj]="pageHeaderObj" [sidebarDataObj]="pageSidebarObj"></app-header-page>

    <!-- body del modulo adminLte 
    <app-body-page [bodyTileMenuCfg]="mainMenuCfg"></app-body-page>-->
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="class_sfondo_gui">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <app-bread-crumb [breadCrumbCfg]="mainMenuCfg"></app-bread-crumb>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
  
          <router-outlet></router-outlet>
   
  
          
  
  
        </div><!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    
    
    
    <!-- footer del modulo adminLte -->
    <app-footer-page [footerDataObj]="pagefooterObj"></app-footer-page>
  </div>
  <!-- ./wrapper -->
</div>


