<ng-template #content let-c="close" let-d="dismiss" id="modalVediAttivita">
  <div class="modal-header {{cssStyle.colore}}">
    <h6 class="modal-title"><i class="{{cssStyle.icona}}"></i>&nbsp;Vedi Attivita</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body small">
    
    <div class="row justify-content-center" *ngIf="vediAttivitaObj.loader">
      <i class="fas fa-sync-alt fa-spin fa-fw fa-3x"></i>
    </div>    

    <!-- BOX INFO PRINCIPALI -->
    <div class="row" *ngIf="!vediAttivitaObj.loader">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card {{cssStyle.card}}">
          <div class="card-header">
            <h6 class="card-title"><i class="fas fa-address-card"></i>&nbsp;Info Principali - {{idAttivita}}
            </h6>
          </div><!-- /.card-header -->
          <div class="card-body">
            <!--<pre> {{vediAttivitaObj.infoPrincipali | json }}</pre>-->
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered">
                  <tbody>
                    <tr class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;">
                      <td>Tipo Attivit&agrave;</td>
                      <!--
                      <td>Tipo Sistema</td>
                      <td>Sistema</td>
                      -->
                      <td>Stato Corrente</td>
                      <td>Data Apertura</td>
                      <td>Data Ultima variazione</td>
                    </tr>
                    <tr style="text-align: center">
                      <td>{{vediAttivitaObj.infoPrincipali[0].TIPO }}</td>
                      <!--
                      <td>{{vediAttivitaObj.infoPrincipali[0].TIPO_SISTEMA }}</td>
                      <td>{{vediAttivitaObj.infoPrincipali[0].SISTEMA }}</td>
                      -->
                      <td>{{vediAttivitaObj.infoPrincipali[0].STATO }}</td>
                      <td>{{vediAttivitaObj.infoPrincipali[0].DATA_APERTURA }}</td>
                      <td>{{vediAttivitaObj.infoPrincipali[0].DATA_ULTIMA_MODIFICA }}</td>
                    </tr>
                    <tr style="text-align: center">
                      <td class="{{cssStyle.colore}}" style="font-weight: bold;">Descrizione</td>
                      <td colspan="5" class="">{{vediAttivitaObj.infoPrincipali[0].DESCRIZIONE }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        
            
        </div>
      </div>
      <!-- /.col-->
    </div>  <!-- BOX INFO PRINCIPALI - FINE -->
    
    <!-- TAB STORIA ATTIVITA E RELAZIONI -->
    <div class="row" *ngIf="!vediAttivitaObj.loader">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabStoriaActRelazioni" class="nav-tabs" id="navVediAttivita">
          
          <!-- box STORIA ATTIVITA -->
          <li [ngbNavItem]="1" (click)="resetStoriaAttivita()">
            <a ngbNavLink><i class="fas fa-book"></i>&nbsp;Storia Attivita
              <span *ngIf="vediAttivitaObj.storiaAttivita && vediAttivitaObj.storiaAttivita.length > 0" class="badge badge-success"> {{vediAttivitaObj.storiaAttivita.length}}</span>
              <span *ngIf="vediAttivitaObj.storiaAttivita && vediAttivitaObj.storiaAttivita.length == 0" class="badge badge-warning"> {{vediAttivitaObj.storiaAttivita.length}}</span>
            </a>
            <ng-template ngbNavContent>
              <div class="row">
                
                <!-- BOX ELENCO TRANSIZIONI -->
                <div class="col-md-8">
                  <div class="card {{cssStyle.card}}">
                    <div class="card-header">
                      <h6 class="card-title"><i class="fas fa-list-ol"></i>&nbsp;Elenco Transizioni
                      </h6>
                    </div><!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 400px">
                      
                    <div class="row justify-content-center" *ngIf="vediAttivitaObj.loaderStoriaAct">
                      <i class="fas fa-sync-alt fa-spin fa-fw fa-3x"></i>
                    </div>
                      
                      
                      <!--<pre> {{vediAttivitaObj.storiaAttivita | json }}</pre>-->
                      <table class="table table-head-fixed table-bordered table-striped " *ngIf="!vediAttivitaObj.loaderStoriaAct">
                        <thead>
                          <tr class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;">
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Stato partenza</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Azione</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Stato Risultante</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Descrizione</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Operatore</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Data Esecuzione</th>                                
                          </tr>
                        </thead>
                        <tbody>
                          
                          <ng-container *ngFor="let itemStoriaAttivita of vediAttivitaObj.storiaAttivita">
                            <tr [ngClass]="itemStoriaAttivita.IS_SELECTED ? 'bg-green bg-color-palette': ''" style="text-align: center;cursor: pointer;" (click)="apriDtaTransazione(itemStoriaAttivita)">
                              <td>{{itemStoriaAttivita.STATO_PARTENZA }}</td>
                              <td>{{itemStoriaAttivita.AZIONE }}</td>
                              <td>{{itemStoriaAttivita.STATO_RISULTANTE }}</td>
                              <td>{{itemStoriaAttivita.DESCRIZIONE }}</td>
                              <td>{{itemStoriaAttivita.OPERATORE }}</td>
                              <td>{{itemStoriaAttivita.DATA_ESECUZIONE }}</td>
                            </tr>
                          </ng-container>
                      
                        </tbody>
                      </table>
                      
                    </div>
                  
                  </div>
                </div> <!-- BOX ELENCO TRANSIZIONI - fine -->
                
                <!-- BOX DATI TECNICI E ALLEGATI -->
                <div class="col-md-4">
                  <div class="row">
                    

                    <div class="col-md-12">
                      
                      <ul ngbNav #nav2="ngbNav" [(activeId)]="activeTabDatiTencniciAllegati" class="nav-tabs" id="navVediAttivita2">
                        
                        <!-- box Dati Tencnici -->
                        <li [ngbNavItem]="1">
                          <a ngbNavLink><i class="fas fa-ad"></i>&nbsp;Dati tecnici
                            <span *ngIf="vediAttivitaObj.dta && vediAttivitaObj.dta.length > 0" class="badge badge-success"> {{vediAttivitaObj.dta.length}}</span>
                            <span *ngIf="vediAttivitaObj.dta && vediAttivitaObj.dta.length == 0" class="badge badge-warning"> {{vediAttivitaObj.dta.length}}</span>
                          
                          </a>
                          <ng-template ngbNavContent>
                            
                            <!-- <pre> {{vediAttivitaObj.dta | json }}</pre>-->
                            
                            <div class="table-responsive p-0" style="height: 400px">
                              
                              <div class="row justify-content-center" *ngIf="vediAttivitaObj.loaderDtaAllegati">
                                <i class="fas fa-sync-alt fa-spin fa-fw fa-3x"></i>
                              </div>
                              
                              <div class="row" *ngIf="vediAttivitaObj.isSelected && !vediAttivitaObj.loaderDtaAllegati && vediAttivitaObj.dta.length == 0 ">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                  
                                    <div class="alert alert-warning">
                                      <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
                                      <span> Nessun Dato Tecnico valorizzato</span>
                                    </div>  
                                  
                                </div>
                              </div> 
                              
                              <!--<pre> {{vediAttivitaObj.storiaAttivita | json }}</pre>-->
                              <table class="table table-head-fixed table-bordered table-striped" *ngIf="!vediAttivitaObj.loaderDtaAllegati && vediAttivitaObj.dta && vediAttivitaObj.dta.length > 0">
                               <thead>
                                 <tr class="{{cssStyle.colore}}" style="text-align: left; font-weight: bold;">
                                   <th class="{{cssStyle.colore}}" style="width: 50%;text-align: left; font-weight: bold;vertical-align:top;">Nome Dato Tecnico</th>
                                   <th class="{{cssStyle.colore}}" style="width: 50%;text-align: left; font-weight: bold;vertical-align:top;">Valore</th>                            
                                 </tr>
                               </thead>
                               <tbody>
                                 
                                 <ng-container *ngFor="let itemDta of vediAttivitaObj.dta">
                                   <tr style="text-align: left">
                                     <td>{{itemDta.DATO_TECNICO }}</td>
                                     <td>{{itemDta.VALORE }}</td>
                                   </tr>
                                 </ng-container>
                             
                               </tbody>
                             </table>
                             
                           </div>                           
                            
                          </ng-template>
                        </li> <!-- Dati Tencnici - fine -->
                        
                        <!-- box Allegati -->
                        <li [ngbNavItem]="2">
                          <a ngbNavLink><i class="fas fa-paperclip"></i>&nbsp;Allegati
                            <span *ngIf="vediAttivitaObj.allegati && vediAttivitaObj.allegati.length > 0" class="badge badge-success"> {{vediAttivitaObj.allegati.length}}</span>
                            <span *ngIf="vediAttivitaObj.allegati && vediAttivitaObj.allegati.length == 0" class="badge badge-warning"> {{vediAttivitaObj.allegati.length}}</span>
                          </a>
                          <ng-template ngbNavContent>
                            
                            <!--<pre> {{vediAttivitaObj.allegati | json }}</pre>-->
                            
                            <div class="table-responsive p-0" style="height: 400px">
                              
                              <div class="row justify-content-center" *ngIf="vediAttivitaObj.loaderDtaAllegati">
                                <i class="fas fa-sync-alt fa-spin fa-fw fa-3x"></i>
                              </div>
                              
                              <div class="row" *ngIf="vediAttivitaObj.isSelected && !vediAttivitaObj.loaderDtaAllegati && vediAttivitaObj.allegati.length == 0">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                  
                                    <div class="alert alert-warning">
                                      <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
                                      <span> Nessun Allegato Trovato</span>
                                    </div>  
                                  
                                </div>
                              </div> 
                              
                              <!--<pre> {{vediAttivitaObj.storiaAttivita | json }}</pre>-->
                              <table class="table table-head-fixed table-bordered table-striped" *ngIf="vediAttivitaObj.isSelected && !vediAttivitaObj.loaderDtaAllegati && vediAttivitaObj.allegati && vediAttivitaObj.allegati.length > 0">
                               <thead>
                                 <tr class="{{cssStyle.colore}}" style="text-align: left; font-weight: bold;">
                                   <th class="{{cssStyle.colore}}" style="width: 50%;text-align: left; font-weight: bold;vertical-align:top;">Nome File Client</th>
                                   <!--<th class="{{cssStyle.colore}}" style="width: 50%;text-align: left; font-weight: bold;vertical-align:top;">Nome File Servizio</th>-->                            
                                 </tr>
                               </thead>
                               <tbody>
                                 
                                 <ng-container *ngFor="let itemAllegato of vediAttivitaObj.allegati">
                                   <tr style="text-align: left;cursor: pointer;" >
                                     <td (click)="downloadFileAllegato(itemAllegato)">{{itemAllegato.NOME_FILE_CLIENT }}</td>
                                     
                                     <!--<td> <a href="http://dvmas003.ict.sirti.net:10102/attivita/dump_allegati.cgi?file_s={{itemAllegato.NOME_FILE_SERVIZIO }}&file_c={{itemAllegato.NOME_FILE_CLIENT }}">{{itemAllegato.NOME_FILE_CLIENT }}</a> </td>-->
                                    <!-- <td (click)="downloadFileAllegato(itemAllegato)">{{itemAllegato.NOME_FILE_SERVIZIO }}</td>-->
                                   </tr>
                                 </ng-container>
                             
                               </tbody>
                             </table>
                             
                           </div>                              
                            
                            
                            
                          </ng-template>
                        </li> <!-- box Allegati - fine -->
                        
                      </ul>
                      
                      <div [ngbNavOutlet]="nav2" class="mt-2"></div>
                      
                  
                        
                        
                    </div>
                  
                      
                  </div>
                </div> <!-- BOX DATI TECNICI E ALLEGATI - FINE -->
                
                <!-- /.col-->
              </div>
            </ng-template>
          </li> <!-- box STORIA ATTIVITA - fine -->
          
          
          
          <!-- box RELAZIONI -->
          <li [ngbNavItem]="2">
            <a ngbNavLink><i class="fas fa-share-alt"></i>&nbsp;Relazioni
              <span *ngIf="vediAttivitaObj.relazioni && vediAttivitaObj.relazioni.length > 0" class="badge badge-success"> {{vediAttivitaObj.relazioni.length}}</span>
              <span *ngIf="vediAttivitaObj.relazioni && vediAttivitaObj.relazioni.length == 0" class="badge badge-warning"> {{vediAttivitaObj.relazioni.length}}</span>
            </a>
            <ng-template ngbNavContent>
              <div class="row">
                
                <!-- BOX ATTIVITA FIGLIE -->
                <div class="col-md-12">
                  <div class="card {{cssStyle.card}}">
                    <div class="card-header">
                      <h6 class="card-title"><i class="fas fa-list-ol"></i>&nbsp;Attivit&agrave; Figlie
                      </h6>
                    </div><!-- /.card-header -->
                   
                    <div class="card-body table-responsive p-0" style="height: 400px">
                      <!--<pre> {{vediAttivitaObj.relazioni | json }}</pre>-->
                      <table class="table table-head-fixed table-bordered table-striped ">
                        <thead>
                          <tr class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;">
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Id Attivita</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Tipo Attivita</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Stato Corrente</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Data Apertura</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Data Ultima Modifica</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          
                          <ng-container *ngFor="let itemRelazioni of vediAttivitaObj.relazioni">
                            <tr style="text-align: center;cursor: pointer;" (click)="apriRelazione(itemRelazioni)">
                              <td>{{itemRelazioni.ID_ATTIVITA }}</td>
                              <td>{{itemRelazioni.TIPO_ATTIVITA }}</td>
                              <td>{{itemRelazioni.STATO }}</td>
                              <td>{{itemRelazioni.DATA_APERTURA }}</td>
                              <td>{{itemRelazioni.DATA_ULTIMA_MODIFICA }}</td>
                            </tr>
                          </ng-container>
                      
                        </tbody>
                      </table>
                      
                    </div>
                  
                      
                  </div>
                </div> <!-- BOX ATTIVITA FIGLIE - fine -->                
              
              </div>

            </ng-template>
          </li> <!-- box RELAZIONI - fine -->
          
          
          <!-- box azioni -->
          <li [ngbNavItem]="3">
            <a ngbNavLink><i class="fas fa-tools"></i>&nbsp;Azioni
              <span *ngIf="vediAttivitaObj.azioni && vediAttivitaObj.azioni.length > 0" class="badge badge-success"> {{vediAttivitaObj.azioni.length}}</span>
              <span *ngIf="vediAttivitaObj.azioni && vediAttivitaObj.azioni.length == 0" class="badge badge-warning"> {{vediAttivitaObj.azioni.length}}</span>
            </a>
            <ng-template ngbNavContent>
              <div class="row">
                
                <!-- BOX ATTIVITA FIGLIE -->
                <div class="col-md-12">
                  <div class="card {{cssStyle.card}}">
                    <div class="card-header">
                      <h6 class="card-title"><i class="fas fa-list-ol"></i>&nbsp;Azioni Possibili
                      </h6>
                    </div><!-- /.card-header -->
                   
                    <div class="card-body table-responsive p-0" style="height: 400px">
                      <!-- <pre> {{vediAttivitaObj.azioni | json }}</pre> -->
                      <table class="table table-head-fixed table-bordered table-striped ">
                        <thead>
                          <tr class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;">
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Azione</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Stato Finale</th>
                            <th class="{{cssStyle.colore}}" style="text-align: center; font-weight: bold;vertical-align:top;">Descizione</th>                       
                          </tr>
                        </thead>
                        <tbody>
                          
                          <ng-container *ngFor="let itemazioni of vediAttivitaObj.azioni">
                            <tr style="text-align: center">
                              <td>{{itemazioni.AZIONE }}</td>
                              <td>{{itemazioni.STATO_FINALE }}</td>
                              <td>{{itemazioni.DESCRIZIONE }}</td>
                            </tr>
                          </ng-container>
                      
                        </tbody>
                      </table>
                      
                    </div>
                  
                      
                  </div>
                </div> <!-- BOX ATTIVITA FIGLIE - fine -->                
              
              </div>

            </ng-template>
          </li> <!-- box azioni - fine -->          
          
        </ul>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        

      </div>
    </div> <!-- TAB STORIA ATTIVITA E RELAZIONI - FINE -->
    
    
    
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>





