.modal-content {
  border: 0 !important;

}

.card-title {
  font-size: 1.0rem !important;
}


#navVediAttivita .nav-link {
    border-style: solid !important;
    border-width: 3px 1px 1px !important;
    border-radius: 3px 3px 0 0 !important;
}

#navVediAttivita .nav-link.active {
    border-top-color: #007bff !important;
}

#navVediAttivita2 .nav-link {
    border-style: solid !important;
    border-width: 3px 1px 1px !important;
    border-radius: 3px 3px 0 0 !important;
}

#navVediAttivita2 .nav-link.active {
    border-top-color: #007bff !important;
}

.storia-attivita-table {
  height: 300px;
  overflow: hidden;

}


.modal-xl {
  width: 100% !important;
 max-width:1500px !important;
}