<div class="row">
  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
      <div class="card-header text-muted border-bottom-0">

      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-7">
            <p class="text-muted text-sm">In caso di malfunzionamenti del sistema, contattare il numero di telefono dello SPOC Sirti/HW: </p>
            <ul class="ml-4 mb-0 fa-ul text-muted">
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> + 39 02 2681 3665</li>
            </ul>
          </div>
          <div class="col-5 text-center">
            <img src="assets/adminLte/user_logo.png" alt="user-avatar" class="img-circle img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
      <div class="card-header text-muted border-bottom-0">
        A. Operativa (Sirti)
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-7">
            <h2 class="lead"><b>Claudio Scarano</b></h2>
            <p class="text-muted text-sm">1. PM MVSPM: </p>
            <ul class="ml-4 mb-0 fa-ul text-muted">
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> c.scarano@sirti.it</li>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> +393357476275</li>
            </ul>
          </div>
          <div class="col-5 text-center">
            <img src="assets/adminLte/user_logo.png" alt="user-avatar" class="img-circle img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
      <div class="card-header text-muted border-bottom-0">
        A. Operativa (Sirti)
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-7">
            <h2 class="lead"><b>Mario Barbieri</b></h2>
            <p class="text-muted text-sm">2. PM MVSPM: </p>
            <ul class="ml-4 mb-0 fa-ul text-muted">
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> ma.barbieri@sirti.it</li>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> +393351327103</li>
            </ul>
          </div>
          <div class="col-5 text-center">
            <img src="assets/adminLte/user_logo.png" alt="user-avatar" class="img-circle img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
      <div class="card-header text-muted border-bottom-0">
        B. Sistema Pyramide (Sirti)
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-7">
            <h2 class="lead"><b>Pierandrea Bressanelli</b></h2>
            <!-- <p class="text-muted text-sm">2. PM MVSPM: </p> -->
            <ul class="ml-4 mb-0 fa-ul text-muted">
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> P.Bressanelli@sirti.it</li>
              <!-- <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Tel: +393351327103</li> -->
            </ul>
          </div>
          <div class="col-5 text-center">
            <img src="assets/adminLte/user_logo.png" alt="user-avatar" class="img-circle img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
