<!-- <pre>{{datiAzioneObj | json}}</pre> -->

<form role="form" [formGroup]="reactiveFormAzCambioPriorita" (ngSubmit)="eseguiAzione()">
  <div class="card-body">
    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>
      
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
      <!-- Input Priorita -->
      <div class="form-group">
        <label  for="inputPriorita">Priorit&agrave;: </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-sort"></i></span>
          </div>
          <select 
                  class="form-control form-control-sm"
                  id="inputPriorita"
                  name="inputPriorita"
                  autocomplete="off"
                  formControlName="sPrioritaCheck"
                  (change)="changeValue($event)"
                  [ngClass]="{'is-valid': reactiveFormAzCambioPriorita.controls.sPrioritaCheck.valid,
                              'is-invalid': reactiveFormAzCambioPriorita.controls.sPrioritaCheck.invalid}"
                  >
            <option value="">Seleziona...</option>
            <option *ngFor="let vOptionValue of aPrioritaDisponibili" (value)="vOptionValue">{{vOptionValue}}</option>
          </select> 
        </div>
        <span *ngIf="reactiveFormAzCambioPriorita.controls.sPrioritaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
      </div>
    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div>    
    
    
  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzCambioPriorita.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  
