  <!-- Navbar -->
  <nav *ngIf="getNascondiMenuNavBar()" style="padding-top: 0;padding-bottom: 0;padding-right: 5px;" class="main-header navbar navbar-expand navbar-light {{ getCssStyleColorNavBar() }} {{ getCssStyleTextNavBar() }}">
    
    <div class="container" style="margin: 0;" *ngIf="getMostraLogoNavBar()">
  
      
      <div *ngIf="!getMostraLogoCustomSideBar()" class="navbar-brand {{ getCssStyleLogoSideBar() }} ">
        <span class="brand-text font-weight-dark" style="color: white">{{ getNomeAppSideBar() }}</span>
        <img src="{{ getLogoImageSirtiSideBar() }}" alt="" class="brand-image">
        
      </div>
      
      <div *ngIf="getMostraLogoCustomSideBar()" class="navbar-brand {{ getCssStyleLogoSideBar() }} sidebar-text-logo-white-custom">
          
          <div style="float: left">
            <img src="{{ getLogoImageSirtiSideBar() }}" class="brand-image sidebar-logo-sirti-custom">
          </div>
          <div class="sidebar-logo-cliente-custom">
            <span class="sidebar-text1-logo-custom">{{ getNomeAppSideBar() }}
            
              <img src="{{ getLogoImageClienteSideBar() }}" style="height: 23px;">
            
            </span>
            <hr class="sidebar-hr-logo-custom " />
            <span class="sidebar-text2-logo-custom">Single Point of Management</span>
          </div>
      
      </div> 
    </div>
    
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-user-circle" title="{{uiService.getCurrentUser.nome}} {{uiService.getCurrentUser.cognome}}"></i>   
        </a>
      </li>
    </ul>

  </nav>
  <!-- /.navbar -->
  
  
  <!-- Navbar -->
  <nav *ngIf="!getNascondiMenuNavBar()" class="main-header navbar navbar-expand navbar-light {{ getCssStyleColorNavBar() }} {{ getCssStyleTextNavBar() }}">
    
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <!--<li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>-->
    </ul>



    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" role="button">
          {{uiService.getCurrentUser.nome}} {{uiService.getCurrentUser.cognome}}
          <i class="fas fa-user-circle"></i> 
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  
    <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" style="height: 400px;">
    <!-- Control sidebar content goes here -->
      
      <div class="card card-widget widget-user">
        <div class="widget-user-header bg-orange">
          <h3 class="widget-user-username">{{uiService.getCurrentUser.nome}} {{uiService.getCurrentUser.cognome}}</h3>
          <h5 class="widget-user-desc">{{uiService.getCurrentUser.nomeUtente}}</h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="assets/adminLte/user_logo.png" alt="User Avatar">
        </div>
        <div class="card-footer" style="overflow-y: scroll; height: 400px;">
          <div class="row">
            <div *ngFor="let gruppoOpCfg of uiService.getCurrentUser.gruppi" class="col-sm-12">
              
                <span class="description-text">{{gruppoOpCfg}}</span>
             
              
            </div>
           
          </div>
         
        </div>
      </div>
   
      
      <!--
      <div class="card card-orange card-outline">
        <div class="card-body box-profile ">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="assets/adminLte/user_logo.png" alt="User profile picture">
          </div>
      
          <h3 class="text-muted text-center">{{uiService.getCurrentUser.nome}} {{uiService.getCurrentUser.cognome}}</h3>
      
          <p class="text-muted text-center">{{uiService.getCurrentUser.nomeUtente}}</p>
      
          <ul class="list-group list-group-unbordered mb-3" style="overflow-y: scroll; height: 400px;width: 230px;">
            <li *ngFor="let gruppoOpCfg of uiService.getCurrentUser.gruppi" class="list-group-item">
              <b>{{gruppoOpCfg}}</b>
            </li>
      
          </ul>
      
      
        </div>
 
      </div>
      
      -->
    
  </aside>
  <!-- /.control-sidebar -->

