.sidebar-text-logo-white-custom {

  cursor: pointer;
  color: white;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom:  0px;
}

.sidebar-hr-logo-custom {
  width: 100%;
  color: white;
  height: 0px;
  background-color:white;
  margin-top: 1px;
  margin-bottom: -10px
}

.sidebar-logo-sirti-custom {
  margin-top: 8px !important;
  height: 32px !important;
}

.sidebar-logo-cliente-custom {
  float: left;
  padding-top: 0px;
  padding-left: 4px;  
}

.sidebar-text1-logo-custom {
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
}


.sidebar-text2-logo-custom {
  font-size: 9px;
  font-weight: normal;
  padding-left: 3px;  
  
}