<h3>{{ titoloPagina }}</h3>
<br>

<div class="row justify-content-center" *ngIf="loaderSearch">
  <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
</div>

<div class="row" *ngIf="aListaReport.length>0 && !loaderSearch && !reportSelezionato">
  <div class="col-md-12 col-lg-12 col-sm-12">
    
    
    <div *ngFor="let itemSezione of aListaSezioniReport" class="card card-orange">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file-alt" ></i> {{ itemSezione }}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <ng-container *ngFor="let itemChild of aListaReport">
           
           <div *ngIf="itemChild.sezione === itemSezione" class="col-md-4">
             <div class="small-box" [ngClass]="itemChild.colorTile" style="background-color:{{itemChild.color}} !important">
                   <div class="inner" style="height: 100px;color: black">
                     <h5>{{ itemChild.titolo }}</h5>
                     <span style="white-space: break-spaces;">{{ itemChild.descrizione }}</span>
                   </div>
                   <div class="icon" style="">
                     <i [ngClass]="itemChild.icon"></i>
                   </div>
                   <a href="javascript: void(0);" (click)="apriReport(itemChild)" class="small-box-footer" style="color: black !important">More info <i class="fas fa-arrow-circle-right"></i></a>
         
             </div>
           </div> 

           
         </ng-container>   
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div> 
</div>

<div class="row" *ngIf="!loaderSearch && reportSelezionato">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card card-orange">
      <div class="card-header">
        <h3 class="card-title"><i [ngClass]="reportSelezionato.icon" ></i> {{ reportSelezionato.titolo }}</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool">
            <i class="fas fa-times" (click)="getListaReport()"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-grid  [gridColObj]="gridConfig.colonne"
                                            [gridRecordObj]="gridConfig.record"
                                            [nColonneInput]="gridConfig.nColonneInput"
                                            [abilitaDettaglio]="gridConfig.abilitaDettaglio"
                                            [abilitaSelectAll]="gridConfig.abilitaSelectAll"
                                            [filtriCustom]="gridConfig.customFilter"
                                            [abilitaClick]="gridConfig.abilitaClick"
                                            [abilitaExport]="gridConfig.abilitaExport"
                                            [nomeSheet]="gridConfig.nomeSheet"                       
                                            (outRecordSelezionato)="getRecordSelezionato($event)"
                                            (outFocus)="focusOut($event)"
                                            (outReload)="reloadOut($event)"
                                            ></app-grid>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div> 
</div>

