  <div *ngIf="isAuthenticationLoader" class="row justify-content-center" style="padding-top: 230px">
    <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
  </div>
  <div *ngIf="error404" class="row justify-content-center" style="padding-top: 230px">
  <h3>Errore 404 - Pagina non trovata o Login Errato</h3>
  </div>