<!-- <pre>{{ breadcrumbs | json }}</pre> -->
<ol class="breadcrumb float-sm-left">

  <ng-container>
    <li *ngFor="let breadcrumb of breadcrumbs; let first = first; let last = last" class="breadcrumb-item"
        [ngClass]="{ 'active': last }"
        >
      <span *ngIf="(last)">
        
        
          <i class="{{ breadcrumb.icon }}"></i> {{ breadcrumb.label }}
              
        
        
      </span>
      <a *ngIf="(!last && esterno !== 'SI')" [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
       <i class="{{ breadcrumb.icon }}"></i> {{ breadcrumb.label }}
      </a>
      <span *ngIf="(!last && esterno === 'SI')">
       <i class="{{ breadcrumb.icon }}"></i> {{ breadcrumb.label }}
      </span>
  
    </li>
  </ng-container>
</ol>

