<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
  <div class="card bg-light d-flex flex-fill">
    <div class="card-header text-muted border-bottom-0">
      {{ titoloPagina }}
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-7">
          <!-- <h2 class="lead"><b>Nicole Pearson</b></h2>
          <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>-->
          <ul class="ml-4 mb-0 fa-ul text-muted">
            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> servicedesk.mvspm_wind@sirti.it</li>
            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> +39 02 2681 3665</li>
          </ul>
        </div>
        <div class="col-5 text-center">
          <img src="assets/adminLte/user_logo.png" alt="user-avatar" class="img-circle img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>







