<div class="row">
  <div class="col-12">
    <div class="card card card-orange">
      <div class="card-header">
        <h3 class="card-title"> <i class="far fa-edit"></i>&nbsp;Gestione Compatibili e Equivalenti</h3>
        
        <div class="card-tools">

        </div>
        
      </div>
      <!-- /.card-header -->
      
      <div class="card-body" style="min-height: 50px;padding: 5px;">
        
      
        <!-- gestione da GUI - DIV dei filtri - sezione di selezione MATERIALI -->
        <div class="row" *ngIf="!mostraBoxImportExcel" style="padding-top: 5px;">
          
          <div class="col-sm-5 col-md-5 col-lg-5"> <!-- MATERIALE PRINCIPALE A - Inizio -->
          
            <div class="card card-success card-outline">
              <div class="card-header">
                <h3 class="card-title"> <i class="fas fa-archive"></i>&nbsp;<strong>Materiale Principale</strong></h3>
                <p class="card-text"> Cercare e Selezionare il materiale</p>
              </div>
              <!-- /.card-header -->
              <form role="form" [formGroup]="reactiveFormCercaMaterialePrincipale" (ngSubmit)="clickButtonCreaModifica('CERCA')">
                <div class="card-body cardBodyMateriali">
                  
                  <!-- filtro Materiale-->
                  <div class="form-group">
        
                    <!-- template materiale TH -->
                    <ng-template #rMaterialeTemplate let-r="result" let-t="term">
                      <div class="row templateThInfoBoxClass">
                        <div class="info-box bg-white infoBoxThClass col-md-12 col-sm-12 col-lg-12">
                          <div class="info-box-content">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>PART NUMBER</strong> : <ngb-highlight [result]="r.PART_NUMBER" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>SAP CODE</strong> : <ngb-highlight [result]="r.SAP_CODE" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>DESC</strong> : <ngb-highlight [result]="r.NOME_PART_NUMBER" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>CODICE SIRTI</strong> : <ngb-highlight [result]="r.CODICE_SIRTI" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>QUADRUPLA</strong> : <ngb-highlight [result]="r.PROGETTO" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.SOTTOPROGETTO" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.PROPRIETA" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.CLIENTE_FINALE" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                          </div>
                          <span class="info-box-icon">
                            <!--<span>{{ r.ID_MAG_SIRTI }}</span> -->
                            <i *ngIf="r.CLASSIFICATION !== 'CONSUMABLES'" class="fas fa-barcode infoBoxIconThClass"></i>
                            <i *ngIf="r.CLASSIFICATION === 'CONSUMABLES'" class="fas fa-tags infoBoxIconThClass"></i>
                          </span>
        
                        </div>
                      </div>
                    </ng-template>              
        
                    <label  for="inputMaterialePrincipale">Inserire Codice Sirti/Part Number/Sap Code/Descrizione: </label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fas fa-archive" *ngIf="!materialePrincipaleSection.loaderAutocompleteMat"></i>
                           <i class="fas fa-sync-alt fa-spin" *ngIf="materialePrincipaleSection.loaderAutocompleteMat"></i>
                        </span>
                         
                      </div>
                      <input  type="text"
                              class="form-control form-control-sm"
                              id="inputMaterialePrincipale"
                              name="inputMaterialePrincipale"
                              autocomplete="off"
                              placeholder="Seleziona Materiale..."
                              formControlName="materialePrincipaleCheck"
                              [ngbTypeahead]="searchMaterialePrincipale"
                              [inputFormatter]="formatterMaterialePrincipale"
                              [resultTemplate]="rMaterialeTemplate"
                              (selectItem)="selectedItemMateriale($event,'MATERIALE_PRINCIPALE','MULTI_FILTER')"
                              [editable]="false"
                              [readonly]="mostraBoxMaterialeB || carica"
                              [ngClass]="{'is-valid': reactiveFormCercaMaterialePrincipale.controls.materialePrincipaleCheck.valid,
                                          'is-invalid': reactiveFormCercaMaterialePrincipale.controls.materialePrincipaleCheck.invalid}"
                              >
                    </div>
                    <span *ngIf="materialePrincipaleSection.zeroResultMateriale" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Nessun Valore Trovato</span>
                  </div>
                  
                  <div class="form-group" *ngIf="reactiveFormCercaMaterialePrincipale.controls.materialePrincipaleCheck.valid">
                    <div class="card card-success">
                      <div class="card-header">
                        <h3 class="card-title">
                          <i class="fas fa-info"></i>
                          Materiale Selezionato
                        </h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                                                
                        <!-- <pre>{{rowSelected | json}}</pre> -->
               
                        <dl class="row small">
                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Codice Sirti:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialePrincipale.value.materialePrincipaleCheck.CODICE_SIRTI}}</dd>

                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Part Number:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialePrincipale.value.materialePrincipaleCheck.PART_NUMBER}}</dd>
                            
                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Sap Code:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialePrincipale.value.materialePrincipaleCheck.SAP_CODE}}</dd>
                            
                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Nome Part Number:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialePrincipale.value.materialePrincipaleCheck.NOME_PART_NUMBER}}</dd>                              
                            
                        </dl>         

                      </div>
                      <!-- /.card-body -->
                    </div>  
                  </div> 
                    
                  
                  
                  
                  <!-- filtro Quadrupla -->
                  <div class="form-group">
        
                    <!-- template Quadrupla TH -->
                    <ng-template #rQuadruplaMatPrincipaleTemplate let-r="result" let-t="term">
                      <div class="row templateThInfoBoxClass">
                        <div class="info-box bg-white infoBoxThClass col-md-12 col-sm-12 col-lg-12">
                          <div class="info-box-content">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>QUADRUPLA</strong> : <ngb-highlight [result]="r.QUADRUPLA" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <!--
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>SOTTO PROGETTO</strong> : <ngb-highlight [result]="r.SOTTOPROGETTO" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>PROPRIETA</strong> : <ngb-highlight [result]="r.PROPRIETA" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>CLIENTE FINALE</strong> : <ngb-highlight [result]="r.CLIENTE_FINALE" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>QUADRUPLA</strong> : <ngb-highlight [result]="r.PROGETTO" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.SOTTOPROGETTO" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.PROPRIETA" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.CLIENTE_FINALE" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            -->
                          </div>
                          <span class="info-box-icon">
                            <i class="fas fa-list infoBoxIconThClass"></i>
                          </span>
        
                        </div>
                      </div>
                    </ng-template>              
        
                    <label  for="inputQuadruplaMatPrincipale">Selezionare Quadrupla: </label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fas fa-list" *ngIf="!materialePrincipaleSection.loaderAutocompleteQuadrupla"></i>
                           <i class="fas fa-sync-alt fa-spin" *ngIf="materialePrincipaleSection.loaderAutocompleteQuadrupla"></i>
                        </span>
                         
                      </div>
                      <input  type="text"
                              class="form-control form-control-sm"
                              id="inputQuadruplaMatPrincipale"
                              name="inputQuadruplaMatPrincipale"
                              autocomplete="off"
                              placeholder="Seleziona Quadrupla..."
                              formControlName="quadruplaMatPrincipaleCheck"
                              [ngbTypeahead]="searchQuadruplaOpenFocus"
                              [inputFormatter]="formatterQuadruplaMatPrincipale"
                              [resultTemplate]="rQuadruplaMatPrincipaleTemplate"
                              (selectItem)="selectedItemMateriale($event,'MATERIALE_PRINCIPALE','QUADRUPLA')"
                              [readonly]="!materialePrincipaleSection.abilitaQuadrupla || mostraBoxMaterialeB || carica" 
                              (focus)="reactiveFormCercaMaterialePrincipale.controls.quadruplaMatPrincipaleCheck.invalid ? focus$.next($any($event).target.value) : false"
                              #instance="ngbTypeahead"
                              [editable]="false"
                              [ngClass]="{'is-valid': reactiveFormCercaMaterialePrincipale.controls.quadruplaMatPrincipaleCheck.valid,
                                          'is-invalid': reactiveFormCercaMaterialePrincipale.controls.quadruplaMatPrincipaleCheck.invalid}"
                              >
                    </div>
                    <span *ngIf="materialePrincipaleSection.zeroResultQuadrupla" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Nessun Valore Trovato</span>
                  </div>
                  
                </div><!-- /.card-body -->
              </form>
              <div class="card-footer">
                <div style="float:right">
                  <!--
                  <button 
                      type="button"
                      class="btn bg-orange bg-color-palette btn-sm"
                      ngbTooltip="Si intende visualizzare le compatibilita'/equivalenza esistenti su questo materiale ?"
                      placement="top-left"
                      container="body" 
                      [disabled]="reactiveFormCercaMaterialePrincipale.invalid || mostraBoxMaterialeB || loaderGrid"
                      (click)="clickButtonCreaModifica('CERCA')">
                      Cerca <span [ngClass]="{ 'fas fa-sync-alt fa-spin' : loaderGrid,
                                              'fas fa-search' : !loaderGrid
                                              }"></span> 
                      
                  </button> 
                  &nbsp;-->
                  <button 
                      type="button"
                      class="btn bg-orange bg-color-palette btn-sm "
                      ngbTooltip="Si intende creare una nuova compatibilita'/equivalenza su questo materiale ?"
                      placement="top-left"
                      container="body" 
                      [disabled]="reactiveFormCercaMaterialePrincipale.invalid || mostraBoxMaterialeB || loaderGrid"
                      (click)="clickButtonCreaModifica('CREA')">
                      Crea <span class="fas fa-plus"></span> 
                      
                  </button>               
                </div>
              </div>
            </div>
          
          </div> <!-- MATERIALE PRINCIPALE A - Fine -->
          
          <div class="col-sm-2 col-md-2 col-lg-2"> <!-- sezione COMPATIBILITA' TRA MATERIALI (COMPATIBILE, DUALE, EQUIVALENTE) - Inizio -->
          
          
            <div *ngIf="mostraBoxTipoCompatibilita" class="card card-primary card-outline">
              <div class="card-header">
                <span *ngIf="mostraBottoniTipoCompatibilita"><i class="far fa-question-circle"></i>&nbsp;Selezionare il tipo di Compatibilt&agrave; / Equivalenza</span>
                <span *ngIf="!mostraBottoniTipoCompatibilita"><i class="fa fa-question-circle"></i> {{msgConfermaTipoCompatibilitaSelezionata}}</span>
              </div>
              <!-- /.card-header -->
              <div class="card-body cardBodyBottoniComapaEq" style="text-align:center;">                
                
                <!-- Bottoni scelta tipo compatibilita  - Inizio -->
                <div *ngIf="mostraBottoniTipoCompatibilita" class="">
                    <br>
                    <div class="form-group">
                        <button 
                            type="button"
                            class="btn btn-lg btn-primary"
                            ngbTooltip="A &egrave; compatibile con B"
                            placement="top-left"
                            container="body" 
                            (click)="clickButtonTipoCompatibilita('COMPATIBILE')">
                            <i class="fas fa-long-arrow-alt-right fa-w-14 fa-3x"></i>
                            
                        </button>
                    </div>
                    <br>
                    <div class="form-group">
                        <button 
                            type="button"
                            class="btn btn-lg btn-primary"
                            ngbTooltip="A &egrave; compatibile con B e B &egrave; compatibile con A"
                            placement="top-left"
                            container="body" 
                            (click)="clickButtonTipoCompatibilita('DUALE')">
                            <i class="fas fa-exchange-alt fa-w-14 fa-3x"></i> 
                        </button>
                    </div>
                    <br>
                    <div class="form-group">
                        <button 
                            type="button"
                            class="btn btn-lg btn-primary"
                            ngbTooltip="A e B sono equivalenti"
                            placement="top-left"
                            container="body" 
                            (click)="clickButtonTipoCompatibilita('EQUIVALENTE')">
                            <i class="fas fa-arrows-alt-h fa-w-14 fa-3x"></i>

                            
                        </button>
                    </div>
                </div>  <!-- Bottoni scelta tipo compatibilita  - Fine -->              
                
                <!-- Bottoni conferma tipo compatibilita - Inizio -->
                <div *ngIf="!mostraBottoniTipoCompatibilita && !carica" class="">
                    
                      
                        <button 
                            type="button"
                            class="btn btn-lg btn-success buttonSiNoClass"
                            ngbTooltip="SI"
                            placement="top-left"
                            container="body"
                            [disabled]="carica"
                            (click)="clickConfermaTipoCompatibilita()">
                            <i class="fas fa-check fa-w-14 fa-2x" style=""></i>
                            
                        </button>
                        <button
                            type="button"
                            class="btn btn-lg btn-danger buttonSiNoClass"
                            ngbTooltip="NO"
                            placement="top-left"
                            container="body"
                            [disabled]="carica"
                            (click)="clickAnnullaTipoCompatibilita()">
                            <i class="fas fa-times fa-w-14 fa-2x" style=""></i>
                            
                        </button>
                      
                    
                </div> <!-- Bottoni conferma tipo compatibilita - Fine -->
                
                <div class="row justify-content-center" *ngIf="carica">
                  <i class="fas fa-sync-alt fa-spin fa-fw fa-3x"></i>
                </div>
                
              </div><!-- /.card-body -->
              <!--<div class="card-footer">
              </div>-->
            </div>          
          
          
          </div> <!-- sezione COMPATIBILITA' TRA MATERIALI (COMPATIBILE, DUALE, EQUIVALENTE) - Fine -->
          
          <div class="col-sm-5 col-md-5 col-lg-5"> <!-- sezione MATERIALE COMPATIBILE B - Inizio -->
          
            <div *ngIf="mostraBoxMaterialeB" class="card card-danger card-outline">
              <div class="card-header">
                <h3 class="card-title"> <i class="fas fa-archive"></i>&nbsp;<strong>Materiale Compatibile/Equivalente</strong></h3>
                <p class="card-text"> Cercare e Selezionare il materiale</p>
              </div>
              <!-- /.card-header -->
              <form role="form" [formGroup]="reactiveFormCercaMaterialeCompatibileEq">
                <div class="card-body cardBodyMateriali">
                  
                  <!-- filtro Materiale Compatibile Equivalente -->
                  <div class="form-group">
        
                    <!-- template materiale TH -->
                    <ng-template #rMaterialeTemplateCompatibileEq let-r="result" let-t="term">
                      <div class="row templateThInfoBoxClass">
                        <div class="info-box bg-white infoBoxThClass col-md-12 col-sm-12 col-lg-12">
                          <div class="info-box-content">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>PART NUMBER</strong> : <ngb-highlight [result]="r.PART_NUMBER" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>SAP CODE</strong> : <ngb-highlight [result]="r.SAP_CODE" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>DESC</strong> : <ngb-highlight [result]="r.NOME_PART_NUMBER" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>CODICE SIRTI</strong> : <ngb-highlight [result]="r.CODICE_SIRTI" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-lg-12 elementiThClass small">
                                <strong>QUADRUPLA</strong> : <ngb-highlight [result]="r.PROGETTO" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.SOTTOPROGETTO" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.PROPRIETA" [term]="t"></ngb-highlight> -
                                <ngb-highlight [result]="r.CLIENTE_FINALE" [term]="t"></ngb-highlight>
                              </div>
                            </div>
                          </div>
                          <span class="info-box-icon">
                            <!--<span>{{ r.ID_MAG_SIRTI }}</span> -->
                            <i *ngIf="r.CLASSIFICATION !== 'CONSUMABLES'" class="fas fa-barcode infoBoxIconThClass"></i>
                            <i *ngIf="r.CLASSIFICATION === 'CONSUMABLES'" class="fas fa-tags infoBoxIconThClass"></i>
                          </span>
        
                        </div>
                      </div>
                    </ng-template>              
        
                    <label  for="inputMaterialeCompatibileEq">Inserire Codice Sirti/Part Number/Sap Code/Descrizione: </label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fas fa-archive" *ngIf="!materialeCompatibileEqSection.loaderAutocompleteMat"></i>
                           <i class="fas fa-sync-alt fa-spin" *ngIf="materialeCompatibileEqSection.loaderAutocompleteMat"></i>
                        </span>
                         
                      </div>
                      <input  type="text"
                              class="form-control form-control-sm"
                              id="inputMaterialeCompatibileEq"
                              name="inputMaterialeCompatibileEq"
                              autocomplete="off"
                              placeholder="Seleziona Materiale..."
                              formControlName="materialeCompatibileEqCheck"
                              [ngbTypeahead]="searchMaterialeCompatibileEq"
                              [inputFormatter]="formatterMaterialeCompatibileEq"
                              [resultTemplate]="rMaterialeTemplateCompatibileEq"
                              (selectItem)="selectedItemMateriale($event,'MATERIALE_COMPATIBILE','MULTI_FILTER')"
                              [editable]="false"
                              [readonly]="carica"
                              [ngClass]="{'is-valid': reactiveFormCercaMaterialeCompatibileEq.controls.materialeCompatibileEqCheck.valid,
                                          'is-invalid': reactiveFormCercaMaterialeCompatibileEq.controls.materialeCompatibileEqCheck.invalid}"
                              >
                    </div>
                    <span *ngIf="materialeCompatibileEqSection.zeroResultMateriale" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Nessun Valore Trovato</span>
                  </div>
                    
                    
                  <div class="form-group" *ngIf="reactiveFormCercaMaterialeCompatibileEq.controls.materialeCompatibileEqCheck.valid">
                    <div class="card card-danger">
                      <div class="card-header">
                        <h3 class="card-title">
                          <i class="fas fa-info"></i>
                          Materiale Selezionato
                        </h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                                                
                        <!-- <pre>{{rowSelected | json}}</pre> -->
               
                        <dl class="row small">
                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Codice Sirti:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.CODICE_SIRTI}}</dd>

                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Part Number:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.PART_NUMBER}}</dd>
                            
                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Sap Code:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.SAP_CODE}}</dd>
                            
                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Nome Part Number:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">{{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.NOME_PART_NUMBER}}</dd>                              
 
                            <dt class="col-sm-6 chiave-dettaglio-materiale" style="padding-bottom: 5px;">Quadrupla:</dt>
                            <dd class="col-sm-6 valore-dettaglio-materiale">
                              {{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.PROGETTO}} -
                              {{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.SOTTOPROGETTO}} -
                              {{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.PROPRIETA}} -
                              {{this.reactiveFormCercaMaterialeCompatibileEq.value.materialeCompatibileEqCheck.CLIENTE_FINALE}}
                            </dd> 
                            
                        </dl>         

                      </div>
                      <!-- /.card-body -->
                    </div>  
                  </div> 
                  
                </div><!-- /.card-body -->
              </form>
              <div class="card-footer">
                
                <div *ngIf="materialeCompatibileEqSection.errorCompatibilitaEsistente" style="float:left" class="errorMsgAutocomplete">
                    <span > <i class="fas fa-ban"></i> Attenzione, Compatibilita'/Equivalenza gia' presente a sistema</span>
                    
                </div> 

                <div style="float:right">
                    <button 
                        type="button"
                        class="btn bg-orange bg-color-palette btn-sm "
                        ngbTooltip="Annulla Creazione"
                        placement="top-right"
                        container="body"
                        [disabled]="carica"
                        (click)="clickAnnullaNuovaCompatibilitaButton()">
                        Annulla <span class="fas fa-times"></span> 
                    </button>
                </div>                
                
                
              </div>
            </div>          
          
          </div> <!-- sezione MATERIALE COMPATIBILE B - Inizio -->
          
        </div>
        

        <div class="row" *ngIf="msgAzioneObj.mostraEsitoAzione && (!carica || loaderGrid) ">
          <div class="col-sm-12 col-md-12 col-lg-12">
        
              <div *ngIf="msgAzioneObj.tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
                <h5><i class="icon fas fa-check"></i>Attenzione</h5>
                <span [innerHTML]="msgAzioneObj.msgEsitoAzione"></span>
              </div>
              
              <div *ngIf="msgAzioneObj.tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
                <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
                <span [innerHTML]="msgAzioneObj.msgEsitoAzione"></span>
              </div>
              
              <div *ngIf="msgAzioneObj.tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
                <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
                <span [innerHTML]="msgAzioneObj.msgEsitoAzione"></span>
              </div>  
            
          </div>
        </div> 
          
        <div class="row" *ngIf="!mostraBoxImportExcel"> <!-- div GRID compatibilita esistenti - Inizio -->
          <div class="col-12">
            <div class="card card-orange card-outline">
              <div class="card-header">
                <h3 class="card-title"> <i class="far fa-list-alt"></i>&nbsp;<strong>Compatibilit&agrave;/Equivalenze Configurate</strong></h3>
                
                <div class="card-tools">
                  <button 
                      
                      type="button"
                      class="btn btn-xs btn-primary"
                      ngbTooltip="Cancella Record Selezionati"
                      placement="top-right"
                      container="body" 
                      *ngIf="gridConfig.recordSelected.length > 0 && !gridConfig.mostraConfermaElimina"
                      style="float:right"
                      [disabled]="carica"
                      (click)="clickEliminaCompatibilita()">
                      Elimina <i class="fas fa-trash-alt"></i>
                      
                  </button>
                  
                  <!-- Bottoni conferma elimina  -->
                  <div *ngIf="gridConfig.recordSelected.length > 0 && gridConfig.mostraConfermaElimina" class="" style="margin-bottom: 0px;float: right;">
                      <div style="float: left;;padding-top: 2px;padding-right: 15px;">Confermi di voler eliminare le Compatibilit&agrave;/Equivalenze selezionate ?</div>
                      <div style="float: right;margin-bottom: 0px;" class="form-group">
                          <button 
                              type="button"
                              class="btn btn-xs btn-success buttonSiNoEliminaClass"
                              ngbTooltip="SI"
                              placement="top-right"
                              container="body" 
                              [disabled]="carica"
                              (click)="clickConfermaEliminaCompatibilita()">
                              <span class="fas fa-check" style="">
                                
                              </span> 
                              
                          </button>
                          <button 
                              type="button"
                              class="btn btn-xs btn-danger buttonSiNoEliminaClass"
                              ngbTooltip="NO"
                              placement="top-right"
                              container="body" 
                              [disabled]="carica"
                              (click)="clickAnnullaEliminaCompatibilita()">
                              <span class="fas fa-times" style=""></span> 
                              
                          </button>
                      </div>
                  </div>
                

                  
                  
                </div>
                
              </div>
              <!-- /.card-header -->
              
              <div class="card-body" style="min-height: 50px;padding: 5px;">
                <div class="row justify-content-center" *ngIf="loaderGrid">
                  <i class="fas fa-sync-alt fa-spin fa-fw fa-3x"></i>
                </div>
                <div class="row" *ngIf="!loaderGrid && gridConfig.colonne && gridConfig.colonne.length > 0 && gridConfig.record && gridConfig.record.length > 0">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <app-grid   [gridColObj]="gridConfig.colonne"
                                [gridRecordObj]="gridConfig.record"
                                [nColonneInput]="gridConfig.nColonneInput"
                                [abilitaDettaglio]="gridConfig.abilitaDettaglio"
                                [abilitaSelectAll]="gridConfig.abilitaSelectAll"
                                [filtriCustom]="gridConfig.customFilter"
                                [abilitaClick]="gridConfig.abilitaClick"
                                [abilitaExport]="gridConfig.abilitaExport"
                                [nomeSheet]="gridConfig.nomeSheet"                       
                                (outRecordSelezionato)="getRecordSelezionato($event)"
                                (outFocus)="focusOut($event)"
                                (outReload)="reloadOut($event)"
                                >
                      
                    </app-grid>
                  </div>
                </div>
               
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>  <!-- div GRID compatibilita esistenti - Fine -->

       
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>


