<!--
<pre>{{datiAzioneObj | json}}</pre>
-->

<form role="form" [formGroup]="reactiveFormAzConsegnaAccettataLogisticaWind" (ngSubmit)="eseguiAzione()">
  <div class="card-body">
   
    <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
      <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
    </div>    
    
    <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">  
    
      <!-- Input Esito Consegna -->
      <div class="form-group" >
        <label  for="inputEsitoConsegna">Esito Consegna *: </label>
        <div class="input-group input-group-sm">
          <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="sEsitoConsegnaCheck">
            <label ngbButtonLabel class="btn-success">
              <input ngbButton type="radio" [value]="'IN SLA'">
                <i *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.value.sEsitoConsegnaCheck !== 'IN SLA'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.value.sEsitoConsegnaCheck === 'IN SLA'" class="fas fa-check-square"></i>
              IN SLA
            </label>
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" [value]="'FUORI SLA'">
                <i *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.value.sEsitoConsegnaCheck !== 'FUORI SLA'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.value.sEsitoConsegnaCheck === 'FUORI SLA'" class="fas fa-check-square"></i>
              FUORI SLA
            </label>
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" [value]="'NON CONFORME'">
                <i *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.value.sEsitoConsegnaCheck !== 'NON CONFORME'" class="fas fa-square"></i>
                <i *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.value.sEsitoConsegnaCheck === 'NON CONFORME'" class="fas fa-check-square"></i>
              NON CONFORME
            </label>
          </div>
        </div>
        <span *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.controls.sEsitoConsegnaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare uno dei valori disponibili</span>
      </div>  
     
     
  
      <div class="row">
        <!-- Input Data Consegna  -->
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <label  for="inputDataConsegna">Data Consegna *: </label>
          <div class="input-group input-group-sm" style="padding-top: 2px;">
        
            
            <input class="form-control" placeholder="DD/MM/YYYY"
                  id="inputDataConsegna"
                  name="inputDataConsegna"
                  formControlName="sDataConsegnaCheck"
                  ngbDatepicker
                  (dateSelect)="onDateSelect($event,'DATA_CONSEGNA')"
                  [readonly]="true"
                  #sDataConsegna="ngbDatepicker"
                  >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="sDataConsegna.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i> 
              </button>
            </div>
            
        
            
            
          </div>
          
          <!--<pre>{{reactiveFormAzConsegnaAccettataLogisticaWind.value.sDataConsegnaCheck | json}}</pre>-->
          
          <span *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.controls.sDataConsegnaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
        
        
        </div>
        
        <div class="form-group col-sm-6 col-md-6 col-lg-6">
          
          <div class="input-group input-group-sm">
            <ngb-timepicker 
                            id="inputOraConsegna"
                            name="inputOraConsegna"
                            formControlName="sOraConsegnaCheck"
                            size="small"
            ></ngb-timepicker>
          
          </div>
          <span *ngIf="reactiveFormAzConsegnaAccettataLogisticaWind.controls.sOraConsegnaCheck.errors" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Selezionare l'orario</span>
        </div>      
      </div>
    </ng-container>
    
    <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
      <div class="col-sm-12 col-md-12 col-lg-12">
    
          <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
            <h5><i class="icon fas fa-check"></i>Attenzione</h5>
            <span [innerHTML]="msgEsitoAzione"></span>
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
            <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>
          
          <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
            <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
            {{msgEsitoAzione}}
          </div>  
        
      </div>
    </div>  

  </div> <!-- /.card-body -->  
  <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
    <button type="submit" [disabled]="reactiveFormAzConsegnaAccettataLogisticaWind.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  
