<!--
<pre>{{datiAzioneObj | json}}</pre>
-->



  <form role="form" [formGroup]="reactiveFormAzApprovato" (ngSubmit)="eseguiAzione()">
    <div class="card-body">
      
      <div class="row justify-content-center" *ngIf="loaderEseguiAzione">
        <i class="fas fa-sync-alt fa-spin fa-w-14 fa-9x"></i>
      </div>
      
      <ng-container *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
        <!-- Input Id Attivita rma  -->
        <div class="form-group">
          <label  for="inputIdAttRma">Id Attivit&agrave; Rma: </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
            </div>
            <input  type="text"
                    class="form-control form-control-sm"
                    id="inputIdAttRma"
                    name="inputIdAttRma"
                    formControlName="nIdAttRmaCheck"
                    autocomplete="off"
                    [ngClass]="{'is-valid': reactiveFormAzApprovato.controls.nIdAttRmaCheck.valid,
                                'is-invalid': reactiveFormAzApprovato.controls.nIdAttRmaCheck.invalid}"
                    >
          </div>
          <span *ngIf="reactiveFormAzApprovato.controls.nIdAttRmaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
        </div>
        
        <!-- Input Id Sirti -->
        <div class="form-group">
          <label  for="inputIdSirti">Id Sirti: </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
            </div>
            <input  type="text"
                    class="form-control form-control-sm"
                    id="inputIdSirti"
                    name="inputIdSirti"
                    formControlName="nIdSirtiCheck"
                    autocomplete="off"
                    [readonly]="true"
                    [ngClass]="{'is-valid': reactiveFormAzApprovato.controls.nIdSirtiCheck.valid,
                                'is-invalid': reactiveFormAzApprovato.controls.nIdSirtiCheck.invalid}"
                    >
          </div>
          <span *ngIf="reactiveFormAzApprovato.controls.nIdSirtiCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
        </div>
        
        <!-- Input Quantita  -->
        <div class="form-group">
          <label  for="inputQuantita">Quantit&agrave;: </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
            </div>
            <input  type="text"
                    class="form-control form-control-sm"
                    id="inputQuantita"
                    name="inputQuantita"
                    formControlName="nQuantitaCheck"
                    autocomplete="off"
                    [readonly]="datiAzioneObj.materiale.SERIAL_NUMBER"
                    [ngClass]="{'is-valid': reactiveFormAzApprovato.controls.nQuantitaCheck.valid,
                                'is-invalid': reactiveFormAzApprovato.controls.nQuantitaCheck.invalid}"
                    >
          </div>
          <span *ngIf="reactiveFormAzApprovato.controls.nQuantitaCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i>
          <ng-container *ngIf="datiAzioneObj.materiale.SERIAL_NUMBER">Il valore deve essere >= 1</ng-container>
          <ng-container *ngIf="!datiAzioneObj.materiale.SERIAL_NUMBER">Il valore deve essere >= 1 e <= {{datiAzioneObj.materiale.QUANTITA}}</ng-container>
          </span>
        </div>
          
        <div class="row">
          <!-- Input Data Prevista Consegna  -->
          <div class="form-group col-sm-6 col-md-6 col-lg-6">
            
            <label  for="inputDataPrevistaCons">Data Prevista Consegna: </label>
            <div class="input-group input-group-sm" style="padding-top: 2px;">
          
              
              <input class="form-control" placeholder="DD/MM/YYYY"
                    id="inputDataPrevistaCons"
                    name="inputDataPrevistaCons"
                    formControlName="sDataPrevistaConsCheck"
                    ngbDatepicker
                    [readonly]="true"
                    (dateSelect)="onDateSelect($event)"
                    #sDataPrevistaCons="ngbDatepicker"
                    >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="sDataPrevistaCons.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i> 
                </button>
              </div>
              
          
              
              
            </div>
            
            <!--<pre>{{reactiveFormCreaRma.value.sDataPrevistaConsCheck | json}}</pre>-->
            
            <span *ngIf="reactiveFormAzApprovato.controls.sDataPrevistaConsCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Il campo deve essere valorizzato</span>
          
          
          </div>
          
          <div class="form-group col-sm-6 col-md-6 col-lg-6">
            
            <div class="input-group input-group-sm">
              <ngb-timepicker
                              id="inputOraPrevistaCons"
                              name="inputOraPrevistaCons"
                              formControlName="sOraPrevistaConsCheck"
                              size="small"
              ></ngb-timepicker>
            
            </div>
            <span *ngIf="reactiveFormAzApprovato.controls.sOraPrevistaConsCheck.errors" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> La data selezionata deve essere compresta tra le {{creaRmaSection.sDataAppConsMinDateTime}} e le {{creaRmaSection.sDataAppConsMaxDateTime}}</span>
            
          </div>      
        </div>
      
      </ng-container>

      <div class="row" *ngIf="mostraEsitoAzione && !loaderEseguiAzione">
        <div class="col-sm-12 col-md-12 col-lg-12">
      
            <div *ngIf="tipoEsitoEsitoAzione === 'SUCCESS'" class="alert alert-success">
              <h5><i class="icon fas fa-check"></i>Attenzione</h5>
              <span [innerHTML]="msgEsitoAzione"></span>
            </div>
            
            <div *ngIf="tipoEsitoEsitoAzione === 'ERROR'" class="alert alert-danger">
              <h5><i class="icon fas fa-ban"></i>Attenzione</h5>
              {{msgEsitoAzione}}
            </div>
            
            <div *ngIf="tipoEsitoEsitoAzione === 'WARNING'" class="alert alert-warning">
              <h5><i class="icon fas fa-exclamation-triangle"></i>Attenzione</h5>
              {{msgEsitoAzione}}
            </div>  
          
        </div>
      </div>        
        
      
    </div> <!-- /.card-body -->  
    <div class="card-footer" *ngIf="(!loaderEseguiAzione && (!mostraEsitoAzione || (mostraEsitoAzione && tipoEsitoEsitoAzione !== 'SUCCESS')))">
      <button type="submit" [disabled]="reactiveFormAzApprovato.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
              >Conferma
        <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
        <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
      </button>
      
      
      
      
    </div>
  </form>







