<!--
<pre>{{datiAzioneObj | json}}</pre>
-->

<form role="form" [formGroup]="reactiveFormAzAnnullamentoReso" (ngSubmit)="eseguiAzione()">
  <div class="card-body">

    
    <!-- Input Richiedente Annullamento -->
    <div class="form-group">
      <label  for="inputRichiedenteAnnullamento">Richiedente Annullamento *: </label>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user-edit"></i></span>
        </div>
        <input  type="text"
                class="form-control form-control-sm"
                id="inputRichiedenteAnnullamento"
                name="inputRichiedenteAnnullamento"
                formControlName="sRichiedenteAnnullamentoCheck"
                autocomplete="off"
                [ngClass]="{'is-valid': reactiveFormAzAnnullamentoReso.controls.sRichiedenteAnnullamentoCheck.valid,
                            'is-invalid': reactiveFormAzAnnullamentoReso.controls.sRichiedenteAnnullamentoCheck.invalid}"
                >
      </div>
      <span *ngIf="reactiveFormAzAnnullamentoReso.controls.sRichiedenteAnnullamentoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
    </div>
      
    <!-- Input Causa Annullamento -->
    <div class="form-group">
      <label  for="inputCausaAnnullamento">Causa Annullamento *: </label>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-clipboard"></i></span>
        </div>
        <input  type="text"
                class="form-control form-control-sm"
                id="inputCausaAnnullamento"
                name="inputCausaAnnullamento"
                formControlName="sCausaAnnullamentoCheck"
                autocomplete="off"
                [ngClass]="{'is-valid': reactiveFormAzAnnullamentoReso.controls.sCausaAnnullamentoCheck.valid,
                            'is-invalid': reactiveFormAzAnnullamentoReso.controls.sCausaAnnullamentoCheck.invalid}"
                >
      </div>
      <span *ngIf="reactiveFormAzAnnullamentoReso.controls.sCausaAnnullamentoCheck.invalid" class="small" style="color:red;"><i class="fas fa-exclamation-circle"></i> Inserie un valore valido</span>
    </div>      
    
  </div> <!-- /.card-body -->  
  <div class="card-footer">
    <button type="submit" [disabled]="reactiveFormAzAnnullamentoReso.invalid" class="btn bg-orange bg-color-palette btn-sm float-right"
            >Conferma
      <i *ngIf="!loaderEseguiAzione" class="fas fa-check"></i>
      <i class="fas fa-sync-alt fa-spin" *ngIf="loaderEseguiAzione"></i>
    </button>
  </div>
</form>  



